.footer{
  &__top{
    padding: $top-footer-padding-vert/3 0;
    background-color: $top-footer-bg;

    @include breakpoint(landscape){
      padding: $top-footer-padding-vert/2 0;
    }

    @include breakpoint(tablet){
      padding: $top-footer-padding-vert 0;
    }

    &-inner{
      display: flex;
      justify-content: column;

      @include breakpoint(tablet){
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

  &__bottom{
    padding: $bottom-footer-padding-vert/2 0;

    @include breakpoint(tablet){
      padding: $bottom-footer-padding-vert 0;
    }

    &-inner{
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @include breakpoint(tablet){
        flex-direction: row;
        justify-content: space-between;
      }
    }

    &-col{
      margin-bottom: $bottom-footer-col-offset-vert;
      
      @include breakpoint(tablet){
        margin-bottom: 0;
      }

      &:last-child{
        margin-bottom: 0;
      }

      &--sm{
        width: 100%;

        @include breakpoint(tablet){
          width: 30%;
        }

        @include breakpoint(desktop){
          width: 44%;
        }
      }

      &--lg{
        width: 100%;

        @include breakpoint(tablet){
          width: 60%;
        }

        @include breakpoint(desktop){
          width: 54%;
        }
      }
    }
  }
}