.header{
  z-index: 500;
  
  &__top{
    @include transition-mix;
    padding : $top-header-padding-vert 0;
    background-color: $top-header-bg;

    @include breakpoint(tablet){
      padding: 0;
      height: $top-header-height;
    }

    &-inner{
      display: flex;
      flex-direction: column;

      @include breakpoint(tablet){
        flex-direction: row;
        align-items: center;
        height: 100%;
        justify-content: space-between;
      }
    }
  }

  &__nav{
    @include transition-mix;
    height: ($header-nav-height * .7);
    background-color: $header-nav-bg;
    position: relative;

    @include breakpoint(tablet){
      height: $header-nav-height;
    }

    &-inner{
      display: flex;
      align-items: center;
      height: 100%;
    }

    &-logo{
      margin-right: $header-logo-offset-horz;
    }
  }

  &.js-scrolled {
    .header__top {
      @include breakpoint(tablet) {
        height: ($top-header-height * .6);
      }
    }

    .header__nav {
      height: ($header-nav-height * .6);
      @include breakpoint(tablet) {
        height: ($header-nav-height * .8);
      }
    }
  }
}