// Colors
$_white: #fff;
$_white-smoke: #d8d8d8;
$_pinkish-orange: #ff6344;
$_charcoal-grey: #3c3940;
$_pale-grey: #f2f0fa;
$_bluey-grey: #8991b2;
$_bluey-grey2: #8a8eb3;
$_indigo-blue: #3a1a91;
$_indigo-blue2 : #421e9e;
$_persian-indigo: #272875;
$_tory-blue: #31318c;
$_midnight-blue: #191e5a;
$_black: #000;

// Setting Colors
$accent-settings-color: $_pinkish-orange;
$light-settings-color: $_white;
$dark-settings-color: $_black;

// Font Colors
$accent-font-color: $_pinkish-orange;
$basic-font-color: $_charcoal-grey;
$light-font-color-prim: $_white;
$light-font-color-sec: $_white-smoke;

// Bg Colors
$dark-bg-color-prim: $_persian-indigo;
$dark-bg-color-sec: $_tory-blue;
$dark-bg-color-over: $_midnight-blue;

// Common vars
$container-max-width: 1040px;

// btn
$btn-default-color: $light-font-color-prim;
$btn-default-border-color: $light-settings-color;
$btn-default-size: ($extra-small-font-size * 1.07);
$btn-padding-vert: 12px;
$btn-padding-horz: 64px;
$btn-border-radius: $btn-padding-horz;
$btn-hover-bg-color: $light-settings-color;
$btn-hover-color: $accent-font-color;

// Header vars
$top-header-height: 71px;
$top-header-bg: $dark-bg-color-prim;
// Header > Take Assessment
$take-assessment-color: $light-font-color-prim;
$take-assessment-size: $small-font-size;
$take-assessment-color-hover: $accent-font-color;
// Header > Contact & Login
$contact-color: $light-font-color-prim;
$login-color: $light-font-color-sec;
$contact-login-color-hover: $accent-font-color;
$login-form-color: rgba($light-settings-color, .7);
$login-form-bg: $top-header-bg;
$contact-login-size: $extra-small-font-size;
$contact-offset-horz: 32px;
$login-form-width: 270px;
$login-form-padding: 15px;
$login-links-vert-offset: 25px;
$login-single-link-vert-offset: 8px;
$login-links-color: $light-font-color-prim;
$login-links-color-hover: $accent-font-color;
$login-links-size: ($default-font-size * .9);
// Header > Nav
$header-nav-height: 96px;
$header-nav-bg: $dark-bg-color-sec;
$header-nav-padding-vert: 20px;
$header-logo-offset-horz: 20px;
$logo-standard-width: 40px;
$logo-standard-height: 40px;
$nav-links-color: $light-font-color-sec;
$nav-link-padding-vert: 29px;
$nav-link-padding-horz: 25px;
$nav-link-dropdown-icon-size: 3px;
$nav-link-dropdown-icon-color: $light-font-color-prim;
$nav-link-dropdown-icon-offset-horz: 8px;
$nav-link-dropdown-icon-offset-vert: 1px;
$nav-dropdown-bg: $dark-bg-color-over;