// Colors
$_white: #fff;
$_pinkish-orange: #ff6344;
$_charcoal-grey: #3c3940;
$_pale-grey: #f2f0fa;
$_bluey-grey: #8991b2;
$_bluey-grey2: #8a8eb3;
$_indigo-blue: #3a1a91;
$_indigo-blue2 : #421e9e;
$_persian-indigo: #272875;
$_black: #000;

// Setting Colors
$accent-settings-color: $_pinkish-orange;
$light-settings-color: $_white;
$dark-settings-color: $_black;

// Font Colors
$accent-font-color: $_pinkish-orange;
$basic-font-color: $_charcoal-grey;
$light-font-color: $_white;

// Bg Colors
$dark-bg-color-prim: $_persian-indigo;

// Common vars
$container-max-width: 1040px;

// Header vars
$top-header-height: 71px;
$top-header-bg: $dark-bg-color-prim;

$take-assessment-color: $light-font-color;
$take-assessment-size: $small-font-size;
$take-assessment-color-hover: $accent-font-color;