// Colors
$_white: #fff;
$_white-smoke: #d8d8d8;
$_pinkish-orange: #d37055;
$_pale-red: #b05442;
$_umbra-red: #7f2822;
$_asparagus-green: #69984b;
$_charcoal-grey: #3c3940;
$_pale-grey: #f1f0f9;
$_bluey-grey: #8991b2;
$_bluey-grey2: #8a8eb3;
$_lavender-blue: #faf8ff;
$_lavender-blue2: #c0b9ee;
$_water-blue: #c4c7d8;
$_faded-blue: #7c83c5;
$_indigo-blue: #3a1a91;
$_indigo-blue2 : #363699;
$_persian-indigo: #272875;
$_tory-blue: #31318c;
$_tory-blue2: #2e318c;
$_midnight-blue: #191e5a;
$_midnight-blue-dark: #131744;
$_black: #000;

// Setting Colors
$accent-settings-color: $_pinkish-orange;
$accent-settings-color-sec: $_pale-red;
$light-settings-color: $_white;
$light-settings-color-sec: $_water-blue;
$light-settings-color-delta: $_pale-grey;
$dark-settings-color: $_black;
$dark-settings-color-sec: $_midnight-blue;
$dark-settings-color-delta: $_charcoal-grey;
$success-settings-color: $_asparagus-green;
$danger-settings-color: $_umbra-red;

// Font Colors
$accent-font-color: $_pinkish-orange;
$accent-font-color-sec: $_pale-red;
$basic-font-color: $_charcoal-grey;
$dark-font-color: $_black;
$light-font-color-prim: $_white;
$light-font-color-sec: $_white-smoke;
$light-font-color-over: $_lavender-blue;
$light-font-color-eps: $_lavender-blue2;
$middle-font-color: $_faded-blue;
$middle-font-color-sec: $_bluey-grey2;
$middle-font-color-delta: $_bluey-grey;

// Bg Colors
$dark-bg-color-prim: $_persian-indigo;
$dark-bg-color-sec: $_tory-blue;
$dark-bg-color-over: $_midnight-blue;
$dark-bg-color-omega: $_midnight-blue-dark;
$dark-bg-color-eps: $_indigo-blue2;
$dark-bg-color-delta: $_tory-blue2;
$light-bg-color: $_white;
$light-bg-color-sec: $_pale-grey;

// Common vars
$container-max-width: 1100px;
// Checkbox
$checkbox-dimensions: 14px;
$checkbox-offset-horz: 12px;
$checkbox-checked-bg: $accent-settings-color;
// btn
$btn-default-color: $light-font-color-prim;
$btn-default-border-color: $light-settings-color;
$btn-default-size: ($extra-small-font-size * 1.07);
$btn-min-width: 181px;
$btn-padding-vert: 12px;
$btn-padding-horz: 44px;
$btn-border-radius: $btn-padding-horz;
$btn-hover-bg-color: $light-settings-color;
$btn-hover-color: $accent-font-color;
$btn-big-font-size: $small-font-size-sec;
$btn-big-padding-vert: 16px;
$btn-accent-bg: $accent-settings-color;
$btn-accent-color: $light-font-color-prim;
$btn-light-border: rgba($dark-settings-color-delta, .15);
$btn-light-bg: rgba($light-settings-color, .35);
// btn-block
$btn-block-offset-vert: 43px;
// icon
$icon-font-big-size: 49px;
$icon-font-size: 36px;
$icon-font-xl-size: $extra-big-font-size-sec;
$icon-bg-color: $light-font-color-prim;
$icon-bg-bg: $accent-settings-color-sec;
$icon-bg-bg-accent: $accent-settings-color;
$icon-bg-dimensions: 56px;
$icon-bg-xl-dimensions: 81px;
$icon-dimensions-sm: 25px;
$icon-dimensions-md: 45px;
$icon-dimensions-lg: 71px;
$icon-dimensions-xl: 340px;
// coming-soon
$coming-soon-overlay-bg: rgba($dark-settings-color, .7);
$coming-soon-color: $light-font-color-prim;
// Header vars
$top-header-height: 71px;
$top-header-padding-vert: 15px;
$top-header-bg: $dark-bg-color-prim;
// Header > Take Assessment
$take-assessment-color: $light-font-color-prim;
$take-assessment-size: $small-font-size;
$take-assessment-color-hover: $accent-font-color;
$take-assessment-offset-vert: 15px;
// Header > Contact & Login
$contact-color: $light-font-color-prim;
$login-color: $light-font-color-sec;
$contact-login-color-hover: $accent-font-color;
$login-form-color: rgba($light-settings-color, .7);
$login-form-bg: $top-header-bg;
$contact-login-size: $extra-small-font-size;
$contact-offset-horz: 32px;
$login-form-width: 270px;
$login-form-padding: 15px;
$login-links-vert-offset: 25px;
$login-single-link-vert-offset: 8px;
$login-links-color: $light-font-color-prim;
$login-links-color-hover: $accent-font-color;
$login-links-size: ($default-font-size * .9);
// Header > Nav
$header-nav-height: 96px;
$header-nav-bg: $dark-bg-color-sec;
$header-nav-padding-vert: 20px;
$header-logo-offset-horz: 20px;
$logo-standard-width: 40px;
$logo-standard-height: 40px;
$nav-list-bg-color: $header-nav-bg;
$nav-list-padding: 30px;
$nav-links-color: $light-font-color-sec;
$nav-link-padding-vert: 29px;
$nav-link-padding-horz: 25px;
$nav-link-dropdown-icon-size: 3px;
$nav-link-dropdown-icon-color: $light-font-color-prim;
$nav-link-dropdown-icon-offset-horz: 8px;
$nav-link-dropdown-icon-offset-vert: 1px;
$nav-dropdown-bg: $dark-bg-color-over;
$nav-dropdown-bottom-bg: $dark-bg-color-omega;
$nav-dropdown-bottom-padding-vert: 40px;
$nav-dropdown-top-padding-vert: 46px;
$nav-dropdown-header-size: ($small-font-size * 1.05);
$nav-dropdown-header-color: $light-font-color-over;
$nav-dropdown-text-color: $middle-font-color;
$nav-dropdown-text-size: ($extra-small-font-size * 1.15);
$nav-dropdown-text-offset-vert: 13px;
$nav-dropdown-btn-offset-vert: 28px;
$nav-dropdown-icon-offset: 26px;
$nav-dropdown-block-padding: 10px;
$nav-dropdown-block-top-offset: 24px;
$nav-dropdown-block-small-offset-vert: 10px;
$nav-dropdown-link-hover-bg: $light-settings-color;
$nav-dropdown-link-hover-header-color: $accent-font-color-sec;
$nav-dropdown-link-hover-color: $dark-font-color;
$nav-icon-width: 40px;
$nav-icon-height: 25px;
$nav-icon-bar-color: $light-settings-color;
$nav-icon-bar-width: 5px;
$nav-icon-bar2-position: $nav-icon-bar-width*2;
$nav-icon-bar3-position: $nav-icon-bar-width*4;
// Footer
$top-footer-padding-vert: 126px;
$top-footer-bg: $dark-bg-color-eps;
$bottom-footer-padding-vert: 80px;
$bottom-footer-col-offset-vert: 60px;
// Footer > Contact
$footer-contact-text-color: $light-font-color-prim;
$footer-contact-text-header-size: $big-font-size;
$footer-contact-text-content-size: $medium-font-size;
$footer-contact-text-content-offset-vert: 28px;
$footer-contact-text-p-offset-vert: 20px;
$footer-contact-text-offset-vert: 40px;
$footer-contact-form-color: rgba($light-settings-color, .7);
$footer-contact-form-textarea-height: 102px;
$footer-contact-form-checkbox-offset-vert: 20px;
$footer-contact-form-elem-offset-vert: 25px;
// Footer > About DK
$about-dk-logo-width: 169px;
$about-dk-text-offset-vert: 20px;
$about-dk-text-width: 315px;
$about-dk-text-color: $middle-font-color-sec;
// Footer > Nav
$footer-nav-col-offset-vert: 40px;
$footer-nav-icon-color: $light-settings-color-sec;
$footer-nav-list-offset-vert: 16px;
$footer-nav-item-size: ($extra-small-font-size * 1.15);
$footer-nav-item-offset-vert: 9px;
$footer-nav-link-hover-color: $accent-settings-color-sec;
// Footer > to top
$top-link-offset-vert: $footer-nav-list-offset-vert;
$top-link-size: $footer-nav-item-size;
// Main
$page-top-offset-vert: ($top-header-height + $header-nav-height);
// Main > Page Header
$page-header-bg-color: $dark-bg-color-sec;
$page-header-padding-vert: 90px;
$page-header-header-color: $light-font-color-prim;
$page-header-h-size: $big-font-size-sec;
$page-header-content-offset-vert: 24px;
$page-header-content-offset-vert-sm: 8px;
$page-header-text-size: $small-font-size-omega;
$page-header-text-color: $light-font-color-eps;
$page-header-text-p-offset-vert: 20px;
$page-header-btn-offset: 12px;
$page-header-wrapper-width: 545px;
$page-header-top-offset-vert: ($top-header-height + $header-nav-height);
$page-header-image-iconed-offset-horz: 50px;
// Main > Page Block
$page-block-padding-vert: 127px;
$page-block-accent-bg-light: $light-bg-color-sec;
$page-block-accent-bg-dark: $dark-bg-color-delta;
$page-block-subblock-offset-vert: 70px;
// Main > Page Block > Header Block
$header-block-offset-vert: 71px;
$header-block-header-size: $big-font-size-delta;
$header-block-header-decorated-width: 274px;
$header-block-header-decoration-bg: $accent-settings-color;
$header-block-header-decorated-padding-horz: 23px;
$header-block-header-decorated-padding-vert: 10px;
$header-block-text-vert-offset: 30px;
$header-block-text-size: $small-font-size;
$header-block-subheader-size: ($small-font-size-omega * 1.1);
$header-block-subheader-offset-vert: 8px;
$header-block-subheader-color-default: $middle-font-color-sec;
// Main > Page Block > Cards Block
$card-bg: $light-settings-color;
$card-border-radius: 10px;
$card-md-padding-horz: 45px;
$card-md-padding-vert: 15px;
$card-md-height: 125px;
$card-full-padding-horz: 66px;
$card-full-padding-vert: 30px;
$card-icon-offset-horz: 25px;
$card-header-size: ($small-font-size * 1.1);
$card-icon-accent-color: $accent-settings-color;
$card-text-width-xl: 750px;
$card-content-offset-vert: 20px;
// Main > Page Block > How It Works
$how-it-works-border-color: $dark-settings-color-sec;
$how-it-works-border-width: 3px;
$how-it-works-border: $how-it-works-border-width dotted $how-it-works-border-color;
$how-it-works-border-radius: 60px;
$how-it-works-icon-offset-vert: 20px;
$how-it-works-icon-dotted-dimensions: 127px;
$how-it-works-icon-dotted-dimensions-mob: 90px;
$how-it-works-icon-dotted-bg: $light-settings-color-delta;
$how-it-works-icon-filled-dimensions: 54px;
$how-it-works-icon-filled-bg-success: $success-settings-color;
$how-it-works-icon-filled-color: $light-settings-color;
$how-it-works-icon-filled-bg-danger: $danger-settings-color;
$how-it-works-content-width: 310px;
$how-it-works-content-offset: 28px;
$how-it-works-header-size: ($small-font-size-sec * 1.07);
$how-it-works-header-small-size: $default-font-size;
$how-it-works-header-offset-vert: 9px;
$how-it-works-block-bg: $light-settings-color;
$how-it-works-block-padding: 15px;
$how-it-works-block-offset-vert: 30px;
// Main > Page Block > Why Choose : Info Col
$info-col-header-icon-offset-vert: 15px;
$info-col-header-size: $small-font-size-sec;
$info-col-content-offset-sm: 8px;
$info-col-text-color: $middle-font-color-sec;
$info-col-offset-bottom: 30px;
// Main > Page Block > Show Block : Block With Image
$block-with-image-content-size: $small-font-size-omega;
$block-with-image-header-offset-vert: 20px;