.about-dk{
  max-width: 320px;
  margin: auto;

  @include breakpoint(tablet){
    width: 100%;
    margin: 0;
  }
  
  &__logo{
    max-width: $about-dk-logo-width;
  }

  &__text{
    margin-top: $about-dk-text-offset-vert;
    max-width: $about-dk-text-width;
    font-weight: $medium-font-weight;
    color: $about-dk-text-color;
  }
}