.block-with-image {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @include breakpoint(tablet){
    flex-direction: row;
  }

  &--img-right {
    flex-direction: column;

    @include breakpoint(tablet){
      flex-direction: row-reverse;
    }
  }

  &--justified-start{
    justify-content: flex-start;

    .block-with-image__image{
      @include breakpoint(tablet){
        margin-right: $block-with-image-img-offset-horz;
      }
    }

    .block-with-image__content-block{
      max-width: $block-with-image-content-width-lg;
    }
  }

  &__image{
    display: none;

    @include breakpoint(landscape){
      display: inline-flex;
      max-width: 35%;
      margin-bottom: 5%;
    }

    @include breakpoint(tablet){
      width:auto;
      margin-bottom: 0;
    }
  }

  &__header{
    margin-bottom: $block-with-image-header-offset-vert;

    &--sm{
      .header-block__header{
        @include breakpoint(tablet){
          font-size: $block-with-image-header-size-sm;
        }
      }
    }
  }

  &__content-block {
    width: 100%;

    @include breakpoint(tablet){
      max-width: 51%;
    }
  }

  &__content{
    font-size: ($block-with-image-content-size * .8);
    line-height: 1.42;
    text-align: center;

    @include breakpoint(tablet){
      font-size: $block-with-image-content-size;
    }

    &--align-left {
      @include breakpoint(tablet){
        text-align: left;
      }

      .block-with-image__header{
        @include breakpoint(tablet){
          align-items: flex-start;
          text-align: left;
        }

        .header-block__header{
          @include breakpoint(tablet){
            text-align: left;
          }
        }
      }
    }

    &--sm {
      font-size: $block-with-image-content-size-sm;
    }

    &--weight-medium{
      font-weight: $medium-font-weight;
    }
  }
}