.btn-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: $btn-block-offset-vert;

  @include breakpoint(landscape) {
    flex-direction: row;
  }

  &__btn {
    margin-bottom: $page-header-btn-offset;
    margin-right: 0;

    &:last-child {
      margin: 0;
    }

    @include breakpoint(landscape) {
      margin-right: $page-header-btn-offset;
      margin-bottom: 0;
    }
  }

  &--margin-sm{
    margin-top: $btn-block-offset-vert-sm;
  }
  
  &--align-left {
    justify-content: flex-start;
  }
}