.btn{
  @include transition-mix;
  position: relative;
  display: inline-block;
  padding: ($btn-padding-vert * .8) ($btn-padding-horz * .7);
   font: {
    size: $btn-default-size;
    weight: $bold-font-weight;
  }
  line-height: 1.96;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  color: $btn-default-color;
  background-color: transparent;
  border: 1px solid $btn-default-border-color;
  border-radius: $btn-border-radius;
  overflow: visible;

  @include breakpoint(tablet){
    padding: $btn-padding-vert $btn-padding-horz;
  }
  
  &::after {
    @include position-absolute($top: 0, $left: 0);
    @include transition-mix;
    content: attr(data-btn-content);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: $btn-hover-color;
    text-align: center;
    transform: scale(1.2);
    background-color: $btn-hover-bg-color;
    border-radius: inherit;
    opacity: 0;
    visibility: hidden;
  }

  &:hover{
    border-color: $btn-hover-color;
     &:after{
      transform: scale(1);
      opacity: 1;
      visibility: visible;
    }
  }

  &--not-uppercase{
    text-transform: none;
  }

  &--full-width{
    width: 100%;
    text-align: center;
  }

  &--big{
    padding-top: $btn-big-padding-vert;
    padding-bottom: $btn-big-padding-vert;
    font: {
      size: $btn-big-font-size;
    }
  }

  &--border-rad-small{
    border-radius: 5px;
  }

  &--no-letterspace{
    letter-spacing: 0;
  }

  &--regular-span{
    span{
      font: {
       weight: $regular-font-weight;
      }
    }
  }

  &--accent-color {
    color: $btn-accent-color;
    background-color: $btn-accent-bg;
    border-color: $btn-accent-bg; 
  }
}