.footer-contact{

  &__text{
    width: 100%;
    margin-bottom: $footer-contact-text-offset-vert;
    text-align: center;
    color: $footer-contact-text-color;

    @include breakpoint(tablet){
      width: 20%;
      margin-bottom: 0;
      text-align: left;
    }

    @include breakpoint(desktop){
      width: 30%;
    }

    &-header{
      font: {
        size: ($footer-contact-text-header-size * 0.8);
        weight: $bold-font-weight;
      }

      @include breakpoint(desktop){
        font-size: $footer-contact-text-header-size;
      }
    }

    &-contact{
      margin-top: ($footer-contact-text-content-offset-vert * 0.4);

      font: {
        weight: $medium-font-weight;
        size: ($footer-contact-text-content-size * 0.6);
      }

      p{
        margin-bottom: $footer-contact-text-p-offset-vert;

        &:last-child {
          margin-bottom: 0;
        }
      }

      @include breakpoint(tablet){
        margin-top: $footer-contact-text-content-offset-vert;
        font-size: $footer-contact-text-content-size * 0.7;
      }

      @include breakpoint(desktop){
        font-size: $footer-contact-text-content-size;
      }
    }
  }

  &__form{
    width: 100%;

    @include breakpoint(tablet){
      width: 75%;
    }

    @include breakpoint(desktop){
      width: 65%;
    }

    &-form{
      font-weight: $medium-font-weight;
      text-align: center;
      color: $footer-contact-form-color;
    }

    &-row{
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;

      &:first-child {
        .foxholder-form__item {
          width: 100%;
          margin-bottom: $footer-contact-form-elem-offset-vert;
          flex-shrink: 0;

          @include breakpoint(landscape){
            width: 32%;
          }

          &:last-child {
            margin-bottom: $footer-contact-form-elem-offset-vert;
          }
        }
      }

      &:nth-child(2) {
        .foxholder-form__item {
          width: 100%;
          flex-shrink: 0;

          @include breakpoint(landscape){
            width: 66%;
          }
        }
      }
    }

    &-input, &-textarea{
      font-weight: inherit;
      background-color: transparent;
      border: 1px solid $footer-contact-form-color;
      border-radius: 5px;
    }

    &-textarea{
      height: $footer-contact-form-textarea-height;
    }

    &-btn-checkbox {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      @include breakpoint(landscape){
        width: 32%;
      }
    }

    &-checkbox {
      & + label {
        margin-top: $footer-contact-form-checkbox-offset-vert;
      }
    }
  }
}