.header-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: ($header-block-offset-vert * .5);

  @include breakpoint(tablet){
    margin-bottom: $header-block-offset-vert;
  }

  &--space-between{
    @include breakpoint(tablet){
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  &--no-margin{
    margin-bottom: 0;
  }

  &--align-left{
    @include breakpoint(tablet){
      align-items: flex-start;
    }
  }

  &__header{
    position: relative;
    flex-shrink: 0;
    font-size: ($header-block-header-size *.7);
    text-align: center;

    @include breakpoint(tablet){
      font-size: $header-block-header-size;
    }

    &--decorated{
      padding-bottom: $header-block-header-decorated-padding-vert;
      text-align: center;

      @include breakpoint(tablet){
        width: $header-block-header-decorated-width;
        padding-left: $header-block-header-decorated-padding-horz;
        padding-bottom: 0;
        margin-right: 10%;
        margin-bottom: 0;
        font-size: ($header-block-header-size * .9);
        text-align: left;
      }

      &::after{
        @include position-absolute($top: 100%, $left: 50%);
        display: block;
        width: 60px;
        height: 3%;
        content: '';
        transform: translateX(-50%);
        background-color: $header-block-header-decoration-bg;

        @include breakpoint(tablet){
          @include position-absolute($top: 50%, $left: 0);
          width: 3px;
          height: 82%;
          transform: translateY(-50%);
        }
      }

      &-lg{
        @include breakpoint(tablet){
          width: $header-block-header-decorated-width-lg;
        }
      }
    }
  }

  &__text{
    display: flex;
    flex-direction: column;
    margin-top: $header-block-text-vert-offset;
    font: {
      size: $header-block-text-size;
      weight: $medium-font-weight;
    }
    line-height: 1.67;
    text-align: center;

    @include breakpoint(tablet){
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
    }

    &--sm{
      @include breakpoint(tablet){
        max-width: $header-block-text-sm-width;
      }
    }

    &--full-width{
      width: 100%;
    }

    &-wrap{
      max-width: $header-block-text-wrap-width;
    }

    &-img{
      margin-top: 5%;
      align-self: center;

      @include breakpoint(tablet){
        margin-top: 0;
        margin-left: 5%;
      }
    }
  }

  &__subheader{
    max-width: $header-block-subheader-width;
    margin: $header-block-subheader-offset-vert auto 0 auto;

    font: {
      size: ($header-block-subheader-size *.7);
      weight: $medium-font-weight;
    }
    color: $header-block-subheader-color-default;
    text-align: center;

    @include breakpoint(tablet){
      font-size: $header-block-subheader-size;
    }
  }

  .page-block, .page-block--accent-bg-light{
    .header-block__subheader{
      color: $header-block-subheader-color-default; 
    }
  }
}