.how-it-works{
  
  @include breakpoint(tablet){
    width: calc(100% - #{$how-it-works-icon-dotted-dimensions-mob});
    margin: $how-it-works-icon-dotted-dimensions auto;
  }

  @include breakpoint(desktop){
    width: calc(100% - #{$how-it-works-icon-dotted-dimensions});
  }

  &__row{
    position: relative;
    display: flex;
    flex-direction: column;

    &::after{
      @include position-absolute($top: 0, $left: 50%);
      content: '';
      display: block;
      width: $how-it-works-border-width;
      transform: translateX(-50%);
      border-left: $how-it-works-border;
      height: 100%;
      z-index: 1;

      @include breakpoint(tablet){
        width: calc(50% - #{$how-it-works-border-width});
        transform: translateX(0);
        border: $how-it-works-border;
      }
    }

    &:nth-child(odd){
      &::after{
        @include breakpoint(tablet){
          @include position-absolute($top: 0, $right: 0);
          border-left: none;
          border-radius: 0 $how-it-works-border-radius $how-it-works-border-radius 0;
        }
      }

      .how-it-works__block{
        @include breakpoint(tablet){
          flex-direction: row-reverse;
        }

        &:nth-child(1) {
          margin-top: 0;
          @include breakpoint(tablet){
            transform: translateY(-50%);
          }
        }

        &:nth-child(2) {
          @include breakpoint(tablet){
            align-self: flex-end;
            transform: translate(($how-it-works-icon-dotted-dimensions-mob / 2), -25%);
          }

          @include breakpoint(desktop){
            transform: translate(($how-it-works-icon-dotted-dimensions / 2), -25%);
          }
        }

        &:nth-child(3) {
          @include breakpoint(tablet){
            align-self: flex-end;
            transform: translate((- ($how-it-works-icon-filled-dimensions / 2)), 50%);
          }
        }
      }

      .how-it-works__content{

        @include breakpoint(landscape){
          margin-left: $how-it-works-content-offset;
        }
        
        @include breakpoint(tablet){
          margin-left: 0;
          margin-right: ($how-it-works-content-offset / 2);
        }

        @include breakpoint(desktop){
          margin-right: $how-it-works-content-offset;
        }
      }

      .how-it-works__header{
        @include breakpoint(tablet){
          transform: translateY(20%); 
        }       
      }
    }

    &:nth-child(even){
      @include breakpoint(tablet){
        margin-top: $how-it-works-border-width;
      }
      
      &::after{
        @include breakpoint(tablet){
          @include position-absolute($top: 0, $left: 0);
          border-right: none;
          border-radius: $how-it-works-border-radius 0 0 $how-it-works-border-radius;
        }
      }

      .how-it-works__block {
        &:nth-child(1) {
          @include breakpoint(tablet){
            transform: translate(( - ($how-it-works-icon-dotted-dimensions-mob / 2)), 75%);
          }

          @include breakpoint(desktop){
            transform: translate(( - ($how-it-works-icon-dotted-dimensions / 2)), 75%);
          }
        }

        &:nth-child(2) {
          @include breakpoint(tablet){
            align-self: flex-start;
            transform: translate(($how-it-works-icon-filled-dimensions / 2), calc(300% - 5 * #{$how-it-works-block-padding}));
          }
        }

        &:nth-child(3) {
          margin-bottom: 0;

          @include breakpoint(tablet){
            align-self: flex-end;
            transform: translate( ( - $how-it-works-icon-dotted-dimensions-mob), 50%);
          }

          @include breakpoint(desktop){
            transform: translate( ( - $how-it-works-icon-dotted-dimensions), 50%);
          }
        }
      }

      .how-it-works__content{

        @include breakpoint(landscape){
          margin-left: $how-it-works-content-offset;
        }
        
        @include breakpoint(tablet){
          margin-left: ($how-it-works-content-offset / 2);
        }

        @include breakpoint(desktop){
          margin-left: $how-it-works-content-offset;
        }
      }
    }
  }

  &__block{
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: $how-it-works-block-offset-vert 0;
    padding: $how-it-works-block-padding 0;
    background-color: $how-it-works-block-bg;
    z-index: 3;

    @include breakpoint(landscape){
      flex-direction: row;
      text-align: left;
    }

    @include breakpoint(tablet){
      max-width: 50%;
      margin: 0;
      padding: 0;
      background-color: transparent;
    }

    &--bg-color {
      justify-content: center;
      background-color: $how-it-works-block-bg;

      @include breakpoint(tablet){
        padding: $how-it-works-block-padding;
      }
    }
  }

  &__icon{
    flex-shrink: 0;
    border-radius: 50%;
    margin-bottom: $how-it-works-icon-offset-vert;

    @include breakpoint(landscape){
      margin-bottom: 0;
    }

    &--dotted{
      display: flex;
      align-items: center;
      justify-content: center;
      width: $how-it-works-icon-dotted-dimensions-mob;
      height: $how-it-works-icon-dotted-dimensions-mob;
      background-color: $how-it-works-icon-dotted-bg;
      border: $how-it-works-border;

      @include breakpoint(desktop){
        width: $how-it-works-icon-dotted-dimensions;
        height: $how-it-works-icon-dotted-dimensions;
      }

      .icon{
        max-width: 60%;
        max-height: 60%;

        @include breakpoint(desktop){
          max-width: 100%;
          max-height: 100%;
        }
      }
    }

    &--filled {
      display: flex;
      align-items: center;
      justify-content: center;
      width: $how-it-works-icon-filled-dimensions;
      height: $how-it-works-icon-filled-dimensions;

      &-success {
        background-color: $how-it-works-icon-filled-bg-success;
      }

      &-danger {
        background-color: $how-it-works-icon-filled-bg-danger;
      }
    }
  }

  &__content{
    @include breakpoint(tablet){
      max-width: $how-it-works-content-width;
    }
  }

  &__header{
    margin-bottom: $how-it-works-header-offset-vert;
    font: {
      weight: $bold-font-weight;
      size: $how-it-works-header-size;
    }

    &--small{
      margin-bottom: 0;
      font-size: $how-it-works-header-small-size;
    }
  }

  &__text{
    font-weight: $medium-font-weight;
    line-height: 1.43;
  }
}