.icon{
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &--font{
    font: {
      family: $icon-font-family;
      size: $icon-font-size;
      weight: $default-font-weight;
    }
    line-height: 0.76;
    &-big{
      font: {
        size: $icon-font-big-size;
      }
    }
  }

  &--bg{
    width: $icon-bg-dimensions;
    height: $icon-bg-dimensions;
    color: $icon-bg-color;
    background-color: $icon-bg-bg;
    @include transform(translateZ(0));

    &-doubled{

      &::after{
        @include position-absolute($top: -20%, $left: 20%);
        display: block;
        width: $icon-bg-dimensions;
        height: $icon-bg-dimensions;
        content: '';
        background-color: rgba($icon-bg-bg, .4);
        z-index: -1;
      }
    }
  }

  &--img{

    &-sm{
      width: $icon-dimensions-sm;
      height: $icon-dimensions-sm;
    }
  }
}