.icon{
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  &--font{
    font: {
      family: $icon-font-family;
      size: $icon-font-size;
      weight: $default-font-weight;
    }
    line-height: 0.76;
    &-big{
      font: {
        size: $icon-font-big-size;
      }
    }

    &-xl{
      font-size: ($icon-font-xl-size * .7);

      @include breakpoint(tablet){
        font-size: $icon-font-xl-size;
      }
    }
  }

  &--bg{
    width: $icon-bg-dimensions;
    height: $icon-bg-dimensions;
    color: $icon-bg-color;
    background-color: $icon-bg-bg;
    @include transform(translateZ(0));

    &-doubled{

      &::after{
        @include position-absolute($top: -20%, $left: 20%);
        display: block;
        width: 100%;
        height: 100%;
        content: '';
        background-color: rgba($icon-bg-bg, .4);
        z-index: -1;
      }

      &-reversed{
        &-horz{
          margin-left: 20%;

          &::after{
            @include position-absolute($top: - 20%, $left: - 20%);
          }
        }
      }
    }

    &-accent-bg{
      background-color: $icon-bg-bg-accent;

      &::after{
        background-color: rgba($icon-bg-bg-accent, .4);
      }
    }

    &-xl {
      width: ($icon-bg-xl-dimensions * .7);
      height: ($icon-bg-xl-dimensions * .7);

      @include breakpoint(tablet){
        width: $icon-bg-xl-dimensions;
        height: $icon-bg-xl-dimensions;
      }
    }
  }

  &--acronis{
    width: 154px;
    height: 20px;

    &-big {
      width: 169px;
      height: 36px;
    }
  }

  &--img{
    max-width: 100%;
    max-height: 100%;

    img, svg{
      width: 100%;
      height: 100%;
    }

    &-xs {
      width: $icon-dimensions-xs;
      height: $icon-dimensions-xs;
    }
    
    &-sm{
      width: $icon-dimensions-sm;
      height: $icon-dimensions-sm;
    }

    &-md {
      width: $icon-dimensions-md;
      height: $icon-dimensions-md;
    }

    &-lg {
      width: $icon-dimensions-lg;
      height: $icon-dimensions-lg;
    }

    &-xl {
      width: $icon-dimensions-xl;
      height: $icon-dimensions-xl;
    }

    &-xxl {
      width: $icon-dimensions-xxl;
      height: $icon-dimensions-xxl;
    }

    &-color-1{
      svg{
        fill: $icon-font-color;
      }
    }
  }
}