.img-slider{
  position: relative;
  height: ($img-slider-height / 1.5);

  @include breakpoint(landscape){
    height: $img-slider-height;
  }

  &__slide{
    position: relative;
    display: flex !important;
    justify-content: center;

    &-image{
      @include img-position($max-width: 400%, $max-height: 400%);
      @include position-absolute($top: 0, $left: 0);
      width: 100%;
      height: 100%;

      @include breakpoint(landscape){
        @include img-position();
        @include position-absolute($top: 0, $left: 0);
        left: $img-slide-img-offset-horz;
        width: calc(100% - 2 * #{$img-slide-img-offset-horz});
      }
    }

    &-text{
      position: relative;
      align-self: flex-end;
      width: 100%;
      padding: ($img-slide-text-padding-vert * .5) $img-slide-text-padding-horz;
      font-weight: $bold-font-weight;
      text-align: center;
      background-color: $img-slider-text-bg;
      z-index: 10;

      @include breakpoint(landscape){
        width: calc(100% - 2 * #{$img-slide-text-offset-horz});
        padding: $img-slide-text-padding-vert $img-slide-text-padding-horz;
        border-radius: 5px;
      }
    }
  }

  &__nav{
    @include position-absolute($top: 50%);
    @include transition-mix();
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-75%);
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;

    @include breakpoint(landscape){
      width: $img-slider-nav-dimensions;
      height: $img-slider-nav-dimensions;
      background-color: $img-slider-nav-bg;
      border: 5px solid;
    }

    &--prev{
      left: 8px;

      @include breakpoint(landscape){
        left: 0;
      }
    }

    &--next{
      right: 8px;

      @include breakpoint(landscape){
        right: 0;
      }

      .icon{
        svg{
          transform: rotate(180deg);
        }
      }
    }

    &:hover{
      @include breakpoint(landscape){
        background-color: $img-slider-nav-bg-hover;
      }

      .icon{
        svg{
          fill: $img-slider-nav-color-hover;
        }
      }
    }

    .icon{
      transform: scale(1.5);

      @include breakpoint(landscape){
        transform: scale(1);
      }
      
      svg{
        @include transition-mix();
        fill: $img-slider-nav-color;
      }
    }
  }
}

.slick-track, .slick-slide, .slick-slide > div, .slider-block__slide {
  height: 100%;
}