.info-col{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  @include breakpoint(tablet){
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__block{
    margin-bottom: $info-col-offset-bottom;
    text-align: center;

    @include breakpoint(landscape){
      width: 85%;
      margin-left: auto;
      margin-right: auto;
    }

    @include breakpoint(tablet){
      max-width: 100%;
      margin-left: 0;
      margin-right: 0;
      text-align: left;
    }

    &--sm{

      &:last-child{
        margin-bottom: 0;

      }
      @include breakpoint(tablet){
        width: 30%;

        &:nth-last-child(2), &:nth-last-child(3){
          margin-bottom: 0;
        }
      }
    }

    &--xs{
      &:last-child{
        margin-bottom: 0;
      }

      @include breakpoint(tablet){
        width: 25%;

        &:nth-last-child(2), &:nth-last-child(3){
          margin-bottom: 0;
        }
      }
    }

    &--md{
      &:last-child{
        margin-bottom: 0;
      }

      @include breakpoint(tablet){
        width: 45%;

        &:nth-last-child(2){
          margin-bottom: 0;
        }
      }
    }

    &--align-center {
      text-align: center;
    }

    &-margin-lg{
      @include breakpoint(tablet){
        margin-bottom: $info-col-offset-bottom-lg;
      }
    }

    &-space-between{
      @include breakpoint(tablet){
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .info-col__header{
        @include breakpoint(tablet){
          margin-top: 0;
        }
      }

      .info-col__icon{
        flex-shrink: 0;

        @include breakpoint(tablet){
          margin-right: $info-col-icon-offset-horz;
        }
      }

      .info-col__text{
        margin-top: $info-col-text-offset-vert;
      }
    }
  }

  &__header{
    margin-top: $info-col-header-block-offset-vert;

    &--with-icon{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 0;

      @include breakpoint(tablet){
        justify-content: flex-start;
      }
    }

    &-h{
      font: {
        size: $info-col-header-size;
        weight: $bold-font-weight;
      }
    }
  }

  &__icon{
    margin-right: $info-col-header-icon-offset-vert;

    .icon--img-lg {
      width: ($icon-dimensions-lg * .6);
      height: ($icon-dimensions-lg * .6);

      @include breakpoint(tablet){
        width: $icon-dimensions-lg;
        height: $icon-dimensions-lg;
      }
    }

    svg{
      fill: $info-col-icon-color;
    }
  }

  &__content{
    margin-top: $info-col-content-offset-sm;

    &--offset-sm {
      margin-top: $info-col-content-offset-sm;
    }

    &--offset-md {
      margin-top: $info-col-content-offset-md;
    }
  }

  &__text{
    font-weight: $medium-font-weight;
    &--color-prim{
      color: $info-col-text-color;
    }

    &--lineheight-l{
      line-height: 1.82;
    }
  }
}