.nav{
  align-self: flex-end;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: flex-end;

  @include breakpoint(tablet){
    display: block;
    height: auto;
  }

  &__list{
    @include position-absolute($top: 100%, $right: 0);
    width: 100%;
    display: none;
    list-style-type: none;
    padding-bottom: $nav-list-padding;
    background-color: $nav-list-bg-color;
    overflow: hidden;
    max-height: 400px;

    @include breakpoint(tablet){
      position: static;
      display: flex;
      padding: 0;
      width: auto;
      overflow: visible;
    }
  }

  &__link{
    @include transition-mix;
    display: flex;
    align-items: center;
    padding: $nav-link-padding-vert $nav-link-padding-horz;
    font: {
      family: $accent-font-family;
      weight: $bold-font-weight;
    }
    color: $nav-links-color;
    letter-spacing: 1.4px;
    text-transform: uppercase;

    &:hover, &.js-active{
      background-color: $nav-dropdown-bg;
    }

    &--dropdown{

      &::after{
        position: relative;
        top: $nav-link-dropdown-icon-offset-vert;
        display: inline-flex;
        width: 0;
        height: 0;
        margin-left: $nav-link-dropdown-icon-offset-horz;
        content: '';
        border: $nav-link-dropdown-icon-size solid transparent;
        border-top: ($nav-link-dropdown-icon-size * 1.6) solid $nav-link-dropdown-icon-color;
      }
    }
  }

  &__dropdown{
    position: relative;
    width: 100%;
    background-color: $nav-dropdown-bg;
    display: none;

    @include breakpoint(tablet){
      @include position-absolute($top: 100%, $left: 0);
      z-index: 15;
    }

    &-part{

      &--top{
        padding: $nav-dropdown-top-padding-vert 0 ;
      }

      &--bottom{
        background-color: $nav-dropdown-bottom-bg;
        padding: $nav-dropdown-bottom-padding-vert 0 ;
      }

      &-inner{
        display: flex;
        height: 100%;

        &--centered{
          justify-content: center;
        }

        &--space-between{
          justify-content: space-between;
        }
      }
    }

    &-block{
      position: relative;
      margin-right: 1.8%;

      &:last-child{
        margin-right: 0;
      }

      &-header{
        @include transition-mix;
        display: flex;
        align-items: center;
        font: {
          size: $nav-dropdown-header-size;
          weight: $bold-font-weight;
        }
        color: $nav-dropdown-header-color;

        &--big{
          font: {
            size: ($nav-dropdown-header-size * 1.2);
          }
        }
      }

      &-descr{
        @include transition-mix;
        font: {
          size: $nav-dropdown-text-size;
        }
        color: $nav-dropdown-text-color;
        line-height: 1.46;
      }

      &-link{
        @include transition-mix;
        position: relative;
        display: flex;
        align-items: center;
        padding: $nav-dropdown-block-padding;

        &:hover{
          @include breakpoint(tablet){
            background-color: $nav-dropdown-link-hover-bg;

            .nav__dropdown-block-header{
              color: $nav-dropdown-link-hover-header-color;
            }

            .nav__dropdown-block-descr{
              color: $nav-dropdown-link-hover-color;
            }
          }
        }

        &--coming-soon{
          &::after{
            @include position-absolute($top: 0, $left: 0);
            @include transition-mix();
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            content: attr(data-coming-soon);
            font: {
              weight: $bold-font-weight;
            }
            color: $coming-soon-color;
            text-transform: uppercase;
            letter-spacing: 1px;
            background-color: $coming-soon-overlay-bg;
            cursor: default;
            opacity: 0;
            visibility: hidden;
          }

          &:hover{
            &::after{
             opacity: 1;
             visibility: visible;
            }
          }
        }
      }

      &-icon{
        margin-right: $nav-dropdown-icon-offset;
      }

      &--centered{
        text-align: center;

        .nav__dropdown-block-header {
          justify-content: center;
        }
      }

      &--vert{
        .nav__dropdown-block-icon{
          margin-right: 0;
          margin-bottom: ($nav-dropdown-icon-offset * 0.8);
        }

        .nav__dropdown-block-descr{
          margin-top: $nav-dropdown-text-offset-vert;
        }

        .nav__dropdown-block-btn{
          margin-top: $nav-dropdown-btn-offset-vert;
        }
      }

      &--small{
        margin-right: 0;
        margin-bottom: $nav-dropdown-block-small-offset-vert;

        .nav__dropdown-block-icon{
          @include transition-mix;
          margin-right: ($nav-dropdown-icon-offset * .5);
          color: $nav-dropdown-text-color;
        }

        .nav__dropdown-block-link:hover{
          @include breakpoint(tablet){
            .nav__dropdown-block-icon{
              color: $nav-dropdown-link-hover-header-color;
            }
          }
        }
      }

      &--full-width {
        width: 100%!important;
      }

      &--m-top {
        margin-top: $nav-dropdown-block-top-offset;
      }

      &--btn {
        .btn > span {
          color: $nav-dropdown-text-color;
        }
      }
    }

    &-col{
      display: flex;
      flex-wrap: wrap;

      & > div {
        flex-shrink: 1;
      }

      &--v-align-center {
        align-items: center;
      }

      &--w-30{
        width: 30%;
      }

      &--w-60{
        width: 60%;

        .nav__dropdown-block{
          width: 47%;
        }

        &--full-width{
          width: 100%!important;
        }
      }

      &--space-between{
        justify-content: space-between;
      }
    }
  }

  &__menu-icon{
    position: relative;
    display: block;
    height: $nav-icon-height;
    width: $nav-icon-width;
    overflow: hidden;
    cursor: pointer;

    @include breakpoint(tablet){
      display: none;
    }

    &::before, &::after{
      @include transition-mix;
      display: block;
      width: 4px;
      height: 28px;
      content: '';
      border-radius: 10px;
      transform-origin: center center;
      background-color: $nav-icon-bar-color;
      opacity: 0;
    }

    &::before{
      @include position-absolute($top: 0, $left: 18px);
      @include transform(scale(0,0) rotate(-45deg));
    }

    &::after{
      @include position-absolute($top: 0, $right: 18px);
      @include transform(scale(0,0) rotate(45deg));
    }

    &-bar{
      @include transition-mix($delay: 0.2s);
      width: 100%;
      height: $nav-icon-bar-width;
      transform-origin: left center;
      background-color: $nav-icon-bar-color;
      border-radius: 20px;

      &-top{
        @include position-absolute($top: 0, $left: 0);
      }

      &-middle{
        @include position-absolute($top: $nav-icon-bar2-position, $left: 0);
      }

      &-bottom{
        @include position-absolute($top: $nav-icon-bar3-position, $left: 0);
      }
    }

    &.js-opened{
      .nav__menu-icon-bar{
        @include transition-mix;
        @include transform(scale(0.1));

        &-top{
          transition-delay: 0s;
        }

        &-middle{
          transition-delay: 0.05s;
        }

        &-bottom{
          transition-delay: 0.1s;
        }
      }

      &::before, &::after{
        @include transition-mix($delay: 0.2s);
        opacity: 1;
      }

      &::before{
        @include transform(scale(1) rotate(-45deg));
      }

      &::after{
        @include transform(scale(1) rotate(45deg));
      }
    }
  }
}