.page-header{
  position: relative;
  padding: (($page-header-padding-vert * .4) + ($page-header-top-offset-vert * .5)) 0 ($page-header-padding-vert * .5);
  margin-bottom: 300px;
  background-color: $page-header-bg-color;

  @include breakpoint(tablet){
    padding: ($page-header-padding-vert + $page-header-top-offset-vert) 0 $page-header-padding-vert;
  }

  &__inner{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
  }

  &__header{
    color: $page-header-header-color;

    &-h{
      font: {
        size: ($page-header-h-size * 0.6);
        weight: $bold-font-weight;
      }

      @include breakpoint(tablet){
        font-size: $page-header-h-size;
      }
    }
  }

  &__content{
    margin-top: $page-header-content-offset-vert;
  }

  &__text{
    font-size: ($page-header-text-size * 0.8);
    color: $page-header-text-color;

    @include breakpoint(tablet){
      font-size: $page-header-text-size;
    }

    p{
      margin-bottom: $page-header-text-p-offset-vert;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  &__image{
    display: none;

    @include breakpoint(landscape){
      display: inline-flex;
      width: 20%;
      margin-left: 10%;
    }

    @include breakpoint(tablet){
      width: auto;
      margin: 0;
    }
  }

  &__wrapper{

    &--text-centered{
      text-align: center;
    }
  }

  &--col-x2{
    .page-header__wrapper {
      @include breakpoint(landscape){
        max-width: $page-header-col-2x-wrapper-width;
      }
    }
  }

  &--waves-style-1{

    &::before{
      @include position-absolute($top: calc(100% - 2px), $left: 0);
      display: none;
      width: 100%;
      height: 100px;
      content: '';
      background: url('../images/wave-3.svg') 46% 0% no-repeat;
      background-size: 107%;
      z-index: 3;

      @include breakpoint(tablet){
        display: block;
      }
    }

    &::after{
      @include position-absolute($left: 0, $bottom: 0);
      display: block;
      width: 100%;
      height: 150%;
      content: '';
      background: url('../images/wave-1.svg') 50% 100% no-repeat,
                  url('../images/wave-2.svg') 0 100% no-repeat;
      background-size: contain, 70%;
      z-index: 1;
    }
  }
}