.page-block{
  padding: ($page-block-padding-vert * .4) 0;

  @include breakpoint(landscape){
    padding: ($page-block-padding-vert * .6) 0;
  }

  @include breakpoint(tablet){
    padding: $page-block-padding-vert 0;
  }

  &--space-between{
    .page-block__inner{
      display: flex;
      flex-direction: column;
      @include breakpoint(tablet){
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

  &--accent-bg-light{
    background-color: $page-block-accent-bg-light;
  }

  &--accent-bg-dark{
    background-color: $page-block-accent-bg-dark;
  }

  &-alt-bg {
    background-color: $page-block-accent-bg-dark-alt;
  }

  &__subblock{
    margin-bottom: ($page-block-subblock-offset-vert * .7);

    @include breakpoint(tablet){
      margin-bottom: $page-block-subblock-offset-vert;
    }

    &:last-child{
      margin-bottom: 0;
    }
  }

  &__subcol{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $page-subcol-offset-vert;
    flex-shrink: 0;

    @include breakpoint(landscape){
      width: 85%;
    }

    @include breakpoint(tablet){
      width: 45%;
      margin: 0;
    }

    &:last-child{
      margin-bottom: 0;
    }
  }
}