.page-header{
  position: relative;
  padding: (($page-header-padding-vert * .4) + ($page-header-top-offset-vert * .5)) 0 ($page-header-padding-vert * .5);
  background-color: $page-header-bg-color;

  @include breakpoint(tablet){
    padding: ($page-header-padding-vert + $page-header-top-offset-vert) 0 $page-header-padding-vert;
  }

  &__inner{
    position: relative;
    display: flex;
    align-items: center;
    z-index: 10;
  }

  &__header{
    color: $page-header-header-color;

    &-h{
      font: {
        size: ($page-header-h-size * 0.6);
        weight: $bold-font-weight;
      }

      @include breakpoint(tablet){
        font-size: $page-header-h-size;
      }
    }
  }

  &__content{
    margin-top: $page-header-content-offset-vert;

    &--sm-margin{
      margin-top: $page-header-content-offset-vert-sm;
    }
  }

  &__text{
    font-size: ($page-header-text-size * 0.8);
    color: $page-header-text-color;

    @include breakpoint(tablet){
      font-size: $page-header-text-size;
    }

    p{
      margin-bottom: $page-header-text-p-offset-vert;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  &__image{
    display: none;

    @include breakpoint(landscape){
      display: inline-flex;
      width: 20%;
      margin-left: 10%;
    }

    @include breakpoint(tablet){
      width: auto;
      margin: 0;
    }

    &--icon {
      width: auto;
      margin-left: 0;
      margin-right: $page-header-image-iconed-offset-horz;
    }
  }

  &__wrapper{

    @include breakpoint(landscape){
      max-width: $page-header-wrapper-width;
    }

    &--text-center{
      text-align: center;
    }
  }

  &--reverse-items{
    .page-header__inner {
      flex-direction: row-reverse;
      justify-content: flex-end;
    }
  }

  &--space-between{
    .page-header__inner{
      justify-content: space-between;
    }
  }

  &--waves-style-1{

    &::before{
      @include position-absolute($top: calc(100% - 2px), $left: 0);
      display: none;
      width: 100%;
      height: 100px;
      content: '';
      background: url('../images/img/wave-3.svg') 46% 0% no-repeat;
      background-size: 107%;
      z-index: 3;

      @include breakpoint(tablet){
        display: block;
      }
    }

    &::after{
      @include position-absolute($left: 0, $bottom: 0);
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background: url('../images/img/wave-1.svg') 50% 100% no-repeat,
                  url('../images/img/wave-2.svg') 0 100% no-repeat;
      background-size: contain, 70%;
      z-index: 1;
    }
  }

  &--waves-style-2 {

    &::before {
      @include position-absolute($bottom: 0, $left: 0);
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background: url('../images/img/wave-4.svg') 46% 100% no-repeat;
      background-size: 107%;
      z-index: 3;
    }

    &::after {
      @include position-absolute($bottom: 0, $left: 0);
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background: url('../images/img/wave-4.svg') 504% 100% no-repeat,
                 url('../images/img/wave-4.svg') -504% 100% no-repeat;
      background-size: 107%;
      opacity: .61;
      z-index: 2;
    }
  }

  &--vertical-oriented{
    .page-header__inner{
      flex-direction: column;
      align-items: center;
    }

    .page-header__content-wrapper{
      @include breakpoint(landscape){
        max-width: $page-header-wrapper-width-lg;
      }
    }

    .page-header__image{

      @include breakpoint(landscape){
        display: inline-flex;
        width: 220px;
        height: 220px;
        margin-left: 0;
        margin-top: ($page-header-img-offset-vert * .7);
      }

      @include breakpoint(tablet){
        width: auto;
        height: auto;
        margin-top: $page-header-img-offset-vert;
      }
    }
  }
}