.pricing{
  display: flex;
  align-items: center;
  justify-content: center;

  &-table{
    flex: 1;
    max-width: $pricing-table-width;
    border: $pricing-table-border-width solid transparent;
    border-radius: $pricing-table-border-radius;
    border-spacing: 0;

    &__table{
      position: relative;
      top: $pricing-table-popular-offset;
      margin-bottom: $pricing-table-popular-offset;
      z-index: 2;
      width: 100%;
      padding: $pricing-table-padding-vert $pricing-table-padding-horz;
      background-color: $pricing-table-bg;
      border-radius: $pricing-table-border-radius;
      border-spacing: 0;

      thead{
        text-align: left;
      }
    }

    &__plan{
      font-weight: $bold-font-weight;
      letter-spacing: 2.5px;
      text-transform: uppercase;
      color: $pricing-table-plan-name-color;

      &-popular{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: $pricing-table-popular-height;
        padding: 0 $pricing-table-popular-header-padding-horz $pricing-table-popular-header-padding-vert;
        background-color: $pricing-table-popular-color;
        z-index: 1;

        &-icon{
          margin-right: $pricing-table-popular-header-icon-offset-horz;
          opacity: .4;
        }

        &-text{
          font-weight: $bold-font-weight;
          color: $pricing-table-popular-header-color;
          text-transform: uppercase;
          letter-spacing: 1.4px;
        }
      }
    }

    &__price{
      position: relative;
      left: -4px;
      display: flex;
      align-items: flex-end;
      margin-top: $pricing-table-price-offset-vert;
      font: {
        size: $pricing-table-price-size;
        weight: $regular-font-weight;
      }
      color: $pricing-table-price-color;
      text-transform: uppercase;
      line-height: 1;

      &-time{
        position: relative;
        top: -4px;
        font-size:$pricing-table-price-time-size;
        color: $pricing-table-price-time-color;
        letter-spacing: 1.2px;
      }
    }

    &__features-block{
      margin-top: $pricing-table-features-offest-vert;
    }

    &__features-list{
      list-style-type: none;
    }

    &__feature{
      display: flex;
      align-items: center;
      margin-bottom: $pricing-table-feature-offset-vert;
      font-weight: $medium-font-weight;

      &:last-child{
        margin-bottom: 0;
      }

      &--disabled{
        display: flex;
        align-items: center;
        color: $pricing-table-feature-disabled-color;
        .icon{
          margin-right: $pricing-table-feature-disabled-offset-vert;
        }
        svg{
          fill: currentColor;
        }
      }
    }

    &__dropdown-block{

      &--hidden{
        visibility: hidden;
      }
    }

    &--popular{
      margin: 0 (- $pricing-table-border-width);
      border-color: $pricing-table-popular-color;
      position: relative;
      top: ($pricing-table-popular-offset - $pricing-table-border-width - ($pricing-table-popular-padding-vert - $pricing-table-padding-vert));

      table{
        padding-top: $pricing-table-popular-padding-vert;
        padding-bottom: $pricing-table-popular-padding-vert;
      }

      .pricing-table__plan{
        color: $pricing-table-popular-plan-color;
      }
    }
  }
}