.tabs{
  position: relative;
  
  &__panel{
    @include position-absolute($top: 0, $left: 0);
    width: 100%;
    display: none;

    &.js-active{
      position: relative;
      display: block;
    }
  }
}