.overview{

  .info-col__icon--animated-top{
    @include transition-mix($delay: .2s);
    position: relative;

    &.js-loading-effect{
      @include breakpoint(tablet){
        top: -30px;
        opacity: 0;
      }

      &.js-loaded-element{
        top: 0;
        opacity: 1;
      }
    }
  }

  .info-col__icon--animated-scaleBig {
    @include transition-mix($delay: .2s);
    position: relative;

    &.js-loading-effect {
       @include breakpoint(tablet){
        transform: scale(1.4);
        opacity: 0;
      }

      &.js-loaded-element {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
}