@font-face {
  font-family: 'BwModelica';
  src: url('../fonts/bw-modelica/woff2/BwModelica-Regular.woff2') format("woff2"),
       url('../fonts/bw-modelica/woff/BwModelica-Regular.woff') format("woff"),
       url('../fonts/bw-modelica/otf/BwModelica-Regular.otf') format('otf'),
       url('../fonts/bw-modelica/eot/BwModelica-Regular.eot') format('eot');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/proxima-nova/ProximaNova-Bold.otf');
  font-weight: 700;
  font-style: normal;
}

$default-font-family: 'BwModelica', serif;
$accent-font-family: 'ProximaNova', serif;

$light-font-weight: 300;
$default-font-weight: 400;
$bold-font-weight: 700;
$extra-bold-font-weight: 900;

$default-font-size: 14px;
$small-font-size: 1.07rem;

$default-line-height: 1.3;

body{
  font: {
    family: $default-font-family;
    weight: $default-font-weight;
    size: $default-font-size;
  }
  color: #3c3940;
  line-height: $default-line-height;
}