<section class="page-block page-block--accent-bg-light page-block--extra-padding-top">
  <div class="container">
    <div class="page-block__header header-block">
      <h2 class="header-block__header">We’re glad to help</h2>
      <div class="header-block__subheader">
        Feel free to give us a call or write us a message.
      </div>
    </div>
    <div class="page-block__content">
      <div class="contact-main page-block__subblock">
        <form class="contact-main__form form js-main-contact-foxholder" action="">
          <textarea id="contact-main-textarea" class="contact-main__textarea  form__textarea" name="contact-main-textarea" required placeholder="Feel free to leave your comments"></textarea>
          <input id="contact-main-name" class="contact-main__input form__input" type="text" required placeholder="Name">
          <input id="contact-main-email" class="contact-main__input form__input" type="email" required placeholder="Email Address">
          <input id="contact-main-phone" class="contact-main__input form__input" type="text" placeholder="Phone Number">
          <div class="contact-main__checkbox-block">
            <input id="contact-me-back" class="contact-main__checkbox form__checkbox" type="checkbox">
            <label class="form__checkbox-label" for="contact-me-back">Call Me Back</label>
          </div>
          <div class="btn-block btn-block--margin-sm">
            <a class="btn-block__btn btn btn--accent-color" href="#" title="Get In Touch" data-btn-content="Get In Touch">Get In Touch</a>
          </div>
        </form>
      </div>
      <div class="cards-block page-block__subblock">
        <div class="cards-block__card cards-block__card--basic cards-block__card--align-start cards-block__card--half-border-radius">
          <div class="cards-block__card-content cards-block__card-content--align-center">
            <div class="cards-block__card-header cards-block__card-header--sm cards-block__card-header--uppercase">Postal Address</div>
            <div class="cards-block__card-text">
              <div class="contact-info">
                <div class="contact-info__header">
                <p><strong>Feel free to call or email us at any time for inquiries.</strong></p>
                </div>
                <div class="contact-info__block">
                  <div class="contact-info__icon">
                    <span class="icon icon--img icon--img-xs icon--img-color-1" aria-hidden="true" role="presentation">
                      <svg>
                          <use xlink:href="#phone"></use>
                      </svg>
                    </span>
                  </div>
                  <a class="contact-info__link contact-info__link--bold" href="callto:+9999999999">999 9999 9999</a>
                </div>
                <div class="contact-info__block">
                  <div class="contact-info__icon">
                    <span class="icon icon--img icon--img-xs icon--img-color-1" aria-hidden="true" role="presentation">
                      <svg>
                          <use xlink:href="#mail"></use>
                      </svg>
                    </span>
                  </div>
                  <a class="contact-info__link contact-info__link--bold" href="info@help.com">info@help.com</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cards-block__card cards-block__card--basic cards-block__card--align-start cards-block__card--half-border-radius">
          <div class="cards-block__card-content cards-block__card-content--align-center">
            <div class="cards-block__card-header cards-block__card-header--sm cards-block__card-header--uppercase">Postal Address</div>
            <div class="cards-block__card-text  cards-block__card-text--m-top cards-block__card-text--lineheight-lg">
              <p>PO Box xxxxx <br>
                  North Beach<br>
                  Africa <br>
                  xxxx <br>
                  Africa</p>
            </div>
          </div>
        </div>
        <div class="cards-block__card cards-block__card--basic cards-block__card--align-start cards-block__card--half-border-radius">
          <div class="cards-block__card-content cards-block__card-content--align-center">
            <div class="cards-block__card-header cards-block__card-header--sm cards-block__card-header--uppercase">Postal Address</div>
            <div class="cards-block__card-text  cards-block__card-text--m-top cards-block__card-text--lineheight-lg">
              <p>PO Box xxxxx <br>
                  North Beach<br>
                  Africa <br>
                  xxxx <br>
                  Africa</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>