<section class="page-block">
  <div class="container">
    <div class="page-block__header header-block js-loading-effect">
      <h2 class="header-block__header">Recovery in the blink of eye</h2>
      <div class="header-block__subheader">We make sure dat your data gets recovered swiftly and smoothly.</div>
    </div>
    <div class="page-block__content">
      <div class="info-col page-block__subblock">
        <div class="info-col__block info-col__block--md info-col__block--margin-lg info-col__block--space-between">
          <div class="info-col__icon">
            <span class="icon icon--img icon--img-lg" aria-hidden="true" role="presentation">
              <img src="../images/img/bare-metal.svg" alt="Bare Metal Recovery">
            </span>
          </div>
          <div class="info-col__content">
            <div class="info-col__header">
              <div class="info-col__header-h">Bare Metal Recovery</div>
            </div>
            <div class="info-col__text">
              <p>Losing an entire machine and restoring files and folders individually can
                take an unnecessary amount of time and also cause application corruption.
                With a bare-metal recovery you can easily and quickly restore your entire
                environment from a simple boot-able USB drive. No need for Operating System
                reinstallation and configuration.</p>
            </div>
          </div>
        </div>
        <div class="info-col__block info-col__block--md info-col__block--margin-lg info-col__block--space-between">
          <div class="info-col__icon">
            <span class="icon icon--img icon--img-lg" aria-hidden="true" role="presentation">
              <img src="../images/img/easy-recovery.svg" alt="Restore Files Easily">
            </span>
          </div>
          <div class="info-col__content">
            <div class="info-col__header">
              <div class="info-col__header-h">Restore Files Easily</div>
            </div>
            <div class="info-col__text">
              <p>The secure storage of your data is of utmost importance to us and that's why
                our backups fully support AES256 encryption. You set and manage your own
                backup encryption keys. Before your data even leaves your network, it's
                fully encrypted and securely transferred to us.</p>
            </div>
          </div>
        </div>
        <div class="info-col__block info-col__block--md info-col__block--margin-lg info-col__block--space-between">
          <div class="info-col__icon">
            <span class="icon icon--img icon--img-lg" aria-hidden="true" role="presentation">
              <img src="../images/img/truck-seeding.svg" alt="Reverse Seeding">
            </span>
          </div>
          <div class="info-col__content">
            <div class="info-col__header">
              <div class="info-col__header-h">Reverse Seeding</div>
            </div>
            <div class="info-col__text">
              <p>Schedule your Data Retention policies around the importance of your data.
                Keep data for days, months and even years. Cloud Storage space is
                automatically handled by intelligently combining your recovery points
                without duplicating months or years of data.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>