<section class="page-block">
  <div class="container">
    <div class="page-block__header header-block js-loading-effect">
      <h2 class="header-block__header">Backing up</h2>
      <div class="header-block__subheader">
        You will be up and running hassle-free and in no time.
      </div>
    </div>
    <div class="page-block__content">
      <div class="info-col page-block__subblock">
        <div class="info-col__block info-col__block--md info-col__block--margin-lg info-col__block--space-between">
          <div class="info-col__icon">
            <span class="icon icon--img icon--img-lg icon--img-color-1" aria-hidden="true" role="presentation">
              <img src="../images/img/quick-easy.svg" alt="quick-easy">
            </span>
          </div>
          <div class="info-col__content">
            <div class="info-col__header">
              <div class="info-col__header-h">Quick install & easy management</div>
            </div>
            <div class="info-col__text">
              <p>Get going fast: Simply install a lightweight agent on your device. Use our single management panel to configure your custom backup plans – no further management is needed on the device itself and changes can be made at any time, from anywhere.</p>
            </div>
          </div>
        </div>
        <div class="info-col__block info-col__block--md info-col__block--margin-lg info-col__block--space-between">
          <div class="info-col__icon">
            <span class="icon icon--img icon--img-lg icon--img-color-1" aria-hidden="true" role="presentation">
              <img src="../images/img/init-seed.svg" alt="Initial Seeding">
            </span>
          </div>
          <div class="info-col__content">
            <div class="info-col__header">
              <div class="info-col__header-h">Initial Seeding</div>
            </div>
            <div class="info-col__text">
              <p>Slow internet and large amounts of data can often hinder a successful Disaster Recovery Plan. Our initial seeding service allows you to easily create your first backup on a local device and ship it through to us.</p>
            </div>
          </div>
        </div>
        <div class="info-col__block info-col__block--md info-col__block--margin-lg info-col__block--space-between">
          <div class="info-col__icon">
            <span class="icon icon--img icon--img-lg icon--img-color-1" aria-hidden="true" role="presentation">
              <img src="../images/img/entire-machine.svg" alt="Entire machines or files and folders">
            </span>
          </div>
          <div class="info-col__content">
            <div class="info-col__header">
              <div class="info-col__header-h">Entire machines or files and folders</div>
            </div>
            <div class="info-col__text">
              <p>On average, twice as fast as the competition. Now that's fast! Cloud Backup has been crafted from the ground up to use minimal CPU and memory to lessen the impact of the backup process. Create backup plans that only backup critical folders and files or Entire Machine ensure that every bit of data on your storage is safely backed up.</p>
            </div>
          </div>
        </div>
        <div class="info-col__block info-col__block--md info-col__block--margin-lg info-col__block--space-between">
          <div class="info-col__icon">
            <span class="icon icon--img icon--img-lg icon--img-color-1" aria-hidden="true" role="presentation">
              <img src="../images/img/backup-cloud.svg" alt="Unlimited options">
            </span>
          </div>
          <div class="info-col__content">
            <div class="info-col__header">
              <div class="info-col__header-h">Unlimited options</div>
            </div>
            <div class="info-col__text">
              <p>Your Choice! – from unlimited devices and unlimited users or Pay-Per-Device - we are most interested in securing your data as quick possible. – just chose the amount of storage you require and off you go! We cater for all sizes and industries.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>