<section class="page-block page-block--accent-bg-light">
  <div class="container">
    <div class="page-block__header header-block js-loading-effect">
      <h2 class="header-block__header">Staying securely stored</h2>
      <div class="header-block__subheader">Keeping your data safe from threats is of the utmost importance to us.</div>
    </div>
    <div class="page-block__content">
      <div class="info-col page-block__subblock">
        <div class="info-col__block info-col__block--md info-col__block--margin-lg info-col__block--space-between">
          <div class="info-col__icon">
            <span class="icon icon--img icon--img-lg" aria-hidden="true" role="presentation">
              <img src="../images/img/africa.svg" alt="Local Data Storage">
            </span>
          </div>
          <div class="info-col__content">
            <div class="info-col__header">
              <div class="info-col__header-h">Local Data Storage</div>
            </div>
            <div class="info-col__text">
              <p>Backing up your data to local African Data Centers means your data never leaves the country. Unlike
                large cloud storage providers, you know exactly where your data is stored. This allows for peace of
                mind, knowing your data is secure and that we comply with local data security policies.</p>
            </div>
          </div>
        </div>
        <div class="info-col__block info-col__block--md info-col__block--margin-lg info-col__block--space-between">
          <div class="info-col__icon">
            <span class="icon icon--img icon--img-lg" aria-hidden="true" role="presentation">
              <img src="../images/img/encryption.svg" alt="Encryption">
            </span>
          </div>
          <div class="info-col__content">
            <div class="info-col__header">
              <div class="info-col__header-h">Encryption</div>
            </div>
            <div class="info-col__text">
              <p>The secure storage of your data is of utmost importance to us and that's why
                our backups fully support AES256 encryption. You set and manage your own
                backup encryption keys. Before your data even leaves your network, it's
                fully encrypted and securely transferred to us.</p>
            </div>
          </div>
        </div>
        <div class="info-col__block info-col__block--md info-col__block--margin-lg info-col__block--space-between">
          <div class="info-col__icon">
            <span class="icon icon--img icon--img-lg" aria-hidden="true" role="presentation">
              <img src="../images/img/calender.svg" alt="Hold on to your data">
            </span>
          </div>
          <div class="info-col__content">
            <div class="info-col__header">
              <div class="info-col__header-h">Hold on to your data</div>
            </div>
            <div class="info-col__text">
              <p>Schedule your Data Retention policies around the importance of your data.
                Keep data for days, months and even years. Cloud Storage space is
                automatically handled by intelligently combining your recovery points
                without duplicating months or years of data.</p>
            </div>
          </div>
        </div>
        <div class="info-col__block info-col__block--md info-col__block--margin-lg info-col__block--space-between">
          <div class="info-col__icon">
            <span class="icon icon--img icon--img-lg" aria-hidden="true" role="presentation">
              <img src="../images/img/notification.svg" alt="Get Notified">
            </span>
          </div>
          <div class="info-col__content">
            <div class="info-col__header">
              <div class="info-col__header-h">Get Notified</div>
            </div>
            <div class="info-col__text">
              <p>Get instant notifications on successful or failed backups allowing you to
                attend right away to issues or hiccups. Daily Reports give you an summarised
                overview of all your devices and their current backup state.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>