<footer class="footer">
  <div class="footer__top footer-contact">
    <div class="container">
      <div class="footer__top-inner">
        <div class="footer-contact__text">
          <div class="footer-contact__text-header">Questions?</div>
          <div class="footer-contact__text-content">
            <p>Let us know what we can do for you.</p>
          </div>
        </div>
        <div class="footer-contact__form">
          <form action="" class="footer-contact__form-form form js-footer-foxholder">
            <div class="footer-contact__form-row form__row">
              <input class="footer-contact__form-input form__input" id="footer-contact-name" type="text" required placeholder="Name">
              <input class="footer-contact__form-input form__input" id="footer-contact-email" type="email" required placeholder="Email">
              <input class="footer-contact__form-input form__input" id="footer-contact-phone" type="text" required placeholder="Phone Number">
            </div>
            <div class="footer-contact__form-row form__row">
              <textarea class="footer-contact__form-textarea form__textarea" id="footer-contact-msg" required placeholder="Feel free to leave your comments"> </textarea>
              <div class="footer-contact__form-btn-checkbox">
                <button class="footer-contact__form-btn form__btn btn btn--accent-color" type="submit" data-btn-content="Get In Touch">Get In Touch</button>
                <input class="footer-contact__form-checkbox form__checkbox" id="footer-call-me-back" type="checkbox">
                <label class="form__checkbox-label" for="footer-call-me-back">Call Me Back</label>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="footer__bottom-inner">
        <div class="footer__bottom-col footer__bottom-col--sm">
          <div class="about-dk">
            <div class="about-dk__logo">
              <a href="#" title="About DataKeepers">
                <img src="../images/dk-logo.svg" alt="about logo" width="300" height="59">
              </a>
            </div>
            <div class="about-dk__text">
              <p>Cloud BackUp is a service offered by a company whose sole mission is to keep your data safe!</p>
            </div>
          </div>
        </div>
        <div class="footer__bottom-col footer__bottom-col--lg">
          <div class="footer-nav">
            <div class="footer-nav__col">
              <div class="footer-nav__icon">
                <span class="icon icon--img icon--img-sm" aria-hidden="true">
                  <img src="../images/chat.svg" alt="sprite">
                </span>
              </div>
              <ul class="footer-nav__list">
                <li class="footer-nav__item"><a href="#" title="FAQ" class="footer-nav__link">FAQ</a></li>
                <li class="footer-nav__item"><a href="#" title="Contact" class="footer-nav__link">Contact</a></li>
                <li class="footer-nav__item"><a href="#" title="Support" class="footer-nav__link">Support</a></li>
              </ul>
            </div>
            <div class="footer-nav__col">
              <div class="footer-nav__icon">
                <span class="icon icon--img icon--img-sm" aria-hidden="true">
                  <img src="../images/paper.svg" alt="sprite">
                </span>
              </div>
              <ul class="footer-nav__list">
                <li class="footer-nav__item"><a href="#" title="Terms & Conditions" class="footer-nav__link">Terms & Conditions</a></li>
                <li class="footer-nav__item"><a href="#" title="Privacy Policy" class="footer-nav__link">Privacy Policy</a></li>
                <li class="footer-nav__item"><a href="#" title="Refund Policy" class="footer-nav__link">Refund Policy</a></li>
              </ul>
            </div>
            <div class="footer-nav__col">
              <div class="to-top">
                <a href="#" class="to-top__link" title="Back to top">
                  <div class="to-top__icon">
                    <span class="icon icon--img icon--img-sm" aria-hidden="true">
                      <img src="../images/back-to-top.svg" alt="sprite">
                    </span>
                  </div>
                  Back to top
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>