<footer class="footer">
  <div class="footer__top footer-contact">
    <div class="container">
      <div class="footer__top-inner">
        <div class="footer-contact__text">
          <div class="footer-contact__text-header">Questions?</div>
          <div class="footer-contact__text-content">
            <p>Let us know what we can do for you.</p>
          </div>
        </div>
        <div class="footer-contact__form">
          <form action="" class="footer-contact__form-form form js-footer-foxholder">
            <div class="footer-contact__form-row form__row">
              <input class="footer-contact__form-input form__input" id="footer-contact-name" type="text" required placeholder="Name">
              <input class="footer-contact__form-input form__input" id="footer-contact-email" type="email" required placeholder="Email">
              <input class="footer-contact__form-input form__input" id="footer-contact-phone" type="text" required placeholder="Phone Number">
            </div>
            <div class="footer-contact__form-row form__row">
              <textarea class="footer-contact__form-textarea form__textarea" id="footer-contact-msg" required placeholder="Feel free to leave your comments"> </textarea>
              <div class="footer-contact__form-btn-checkbox">
                <button class="footer-contact__form-btn form__btn btn btn--accent-color" type="submit" data-btn-content="Get In Touch">Get In Touch</button>
                <input class="footer-contact__form-checkbox form__checkbox" id="footer-call-me-back" type="checkbox">
                <label class="form__checkbox-label" for="footer-call-me-back">Call Me Back</label>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">

  </div>
</footer>