<div class="page-block">
  <div class="container">
    <div class="page-block__header header-block header-block--space-between">
      <h2 class="header-block__header header-block__header--decorated">
        How It Works
      </h2>
    </div>
    <div class="page-block__content">
      <div class="how-it-work page-block__subblock">
        <div class="how-it-works__row">
          <div class="how-it-works__block">
            <div class="how-it-works__icon how-it-works__icon--dotted">
              <span class="icon icon--img icon--img-lg" aria-hidden="true">
                <img src="../images/quick-easy.svg" alt="easy">
              </span>
            </div>
            <div class="how-it-works__content">
              <div class="how-it-works__header">
                Easy Install &amp; Setup
              </div>
              <div class="how-it-works__text">
                <p>Install our lightweight software in the blink of an eye and setup your personalized backup plan. Install our lightweight software in the blink of an eye and setup your personalized backup plan.</p>
              </div>
            </div>
          </div>
          <div class="how-it-works__block">
            <div class="how-it-works__icon how-it-works__icon--dotted">
              <span class="icon icon--img icon--img-lg" aria-hidden="true">
                <img src="../images/plane.svg" alt="easy">
              </span>
            </div>
            <div class="how-it-works__content">
              <div class="how-it-works__header">
                Send Your Data
              </div>
              <div class="how-it-works__text">
                <p>Send your data quickly using our advanced DataSync software, or use our courier service to ship a physical copy of your data. Send your data quickly using our advanced DataSync software, or use our courier service. to ship a physical copy of your data.</p>
              </div>
            </div>
          </div>
          <div class="how-it-works__block how-it-works__block--bg-color">
            <div class="how-it-works__icon how-it-works__icon--filled how-it-works__icon--filled-success">
              <span class="icon icon--img icon--img-lg" aria-hidden="true">
                <img src="../images/firewall.svg" alt="easy">
              </span>
            </div>
            <div class="how-it-works__content">
              <div class="how-it-works__header how-it-works__header--small">
                Protect Your Data
              </div>
            </div>
          </div>
        </div>
        <div class="how-it-works__row">
          <div class="how-it-works__block">
            <div class="how-it-works__icon how-it-works__icon--dotted">
              <span class="icon icon--img icon--img-lg" aria-hidden="true">
                <img src="../images/backup.svg" alt="backup">
              </span>
            </div>
            <div class="how-it-works__content">
              <div class="how-it-works__header">
                Automated Incremental Backups
              </div>
              <div class="how-it-works__text">
                <p>After an initial full backup, Incremental Backup captures only the changes made since the last backup. Saves both time and storage space, and ensures that your backup is up to date - always.</p>
              </div>
            </div>
          </div>
          <div class="how-it-works__block how-it-works__block--bg-color">
            <div class="how-it-works__icon how-it-works__icon--filled how-it-works__icon--filled-danger">
              <span class="icon icon--img icon--img-lg" aria-hidden="true">
                <img src="../images/delete-block.svg" alt="backup">
              </span>
            </div>
            <div class="how-it-works__content">
              <div class="how-it-works__header how-it-works__header--small">
                  In Case Of Data Disaster
              </div>
            </div>
          </div>

          <div class="how-it-works__block">
            <div class="how-it-works__icon how-it-works__icon--dotted">
              <span class="icon icon--img icon--img-lg" aria-hidden="true">
                <img src="../images/setup-box.svg" alt="backup">
              </span>
            </div>
            <div class="how-it-works__content">
              <div class="how-it-works__header">
                  Painless Recovery
              </div>
              <div class="how-it-works__text">
                <p>After an initial full backup, Incremental Backup captures only the changes made since the last backup. Saves both time and storage space, and ensures that your backup is up to date - always.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>