<div class="page-header  page-header--col-x2 page-header--waves-style-1">
  <div class="container">
    <div class="page-header__inner">
      <div class="page-header__wrapper page-header__wrapper--text-centered">
        <div class="page-header__header">
          <h1 class="page-header__header-h">
            Backing Up For The Future
          </h1>
        </div>
        <div class="page-header__content">
          <div class="page-header__text">
            <p>Get the solution you need to protect your IT infrastructure? We protect all your data so you can focus on your business!</p>
          </div>
          <div class="page-header__btn-part">
            <a class="page-header__btn btn" href="#" data-btn-content="Learn More">Learn More</a>
            <a class="page-header__btn btn btn--accent-color" href="#" data-btn-content="Free Trial">Free Trial</a>
          </div>
        </div>
      </div>
      <div class="page-header__image">
        <span class="icon icon--img icon--img-xl" aria-hidden="true" role="presentation">
          <img src="../images/startup.svg" alt="startup">
        </span>
      </div>
    </div>
  </div>
</div>