<div class="page-block page-block--accent-bg-light">
  <div class="container">
    <div class="page-block__header header-block header-block--space-between">
      <h2 class="header-block__header header-block__header--decorated">
        The complete backup solution
      </h2>
      <div class="header-block__text">
        <p><strong>BackUp</strong> provides safe, secure, and scalable data protection, bare-metal recovery, and on-site and cloud backup of any data, anywhere, anytime. It is a fully managed service – we take care of your data protection so you can focus on your business!</p>
      </div>
    </div>
  </div>
</div>