<section class="page-block page-block--accent-bg-light page-block--extra-padding-top">
  <div class="container">
    <div class="page-block__header header-block">
      <h2 class="header-block__header">Transparent &amp; flexible pricing</h2>
      <div class="header-block__subheader">
        Choose the plan that fits your needs, or contact us if you have questions.
      </div>
    </div>

    <div class="page-block__content">
      <div id="pricing-tabs" class="control-panel page-block__subblock" data-connected-type="tabs">
        <div class="control-panel__list">
          <div class="control-panel__item js-active" data-panel-category="cloud-backup">
            <a href="#" class="control-panel__link" title="Cloud Backup">
              <div class="control-panel__icon">
                <span class="icon icon--img icon--img-xs" aria-hidden="true" role="presentation">
                  <svg>
                    <use xlink:href="#wizard-tool"></use>
                  </svg>
                </span>
              </div>
              <div class="control-panel__text">
                <span>Cloud Backup</span>
              </div>
            </a>
          </div>
          <div class="control-panel__item" data-panel-category="files-cloud">
            <a href="#" class="control-panel__link" title="Files Cloud">
              <div class="control-panel__icon">
                <span class="icon icon--img icon--img-xs" aria-hidden="true" role="presentation">
                  <svg>
                    <use xlink:href="#app-window"></use>
                  </svg>
                </span>
              </div>
              <div class="control-panel__text">
                <span>Files Cloud</span>
              </div>
            </a>
          </div>
          <div class="control-panel__item" data-panel-category="disaster-recovery">
            <a href="#" class="control-panel__link" title="Disaster Recovery">
              <div class="control-panel__icon">
                <span class="icon icon--img icon--img-xs" aria-hidden="true" role="presentation">
                  <svg>
                    <use xlink:href="#recovery"></use>
                  </svg>
                </span>
              </div>
              <div class="control-panel__text">
                <span>Disaster Recovery</span>
              </div>
            </a>
          </div>
          <div class="control-panel__item" data-panel-category="antivirus">
            <a href="#" class="control-panel__link" title="Antivirus">
              <div class="control-panel__icon">
                <span class="icon icon--img icon--img-xs" aria-hidden="true" role="presentation">
                  <svg>
                    <use xlink:href="#recovery"></use>
                  </svg>
                </span>
              </div>
              <div class="control-panel__text">
                <span>Antivirus</span>
              </div>
            </a>
          </div>
        </div>
      </div>
      
      <div class="tabs page-block__subblock" data-panel="pricing-tabs">
        <div class="tabs__panel js-active">
          <div class="switch-block page-block__subblock">
            <form class="switch-block__form">
              <input id="tab-panel-1-radio-month" class="switch-block__radio switch-radio" type="radio" name="month-ann" value="month" title="Check Monthly or Annually Price" role="radio" aria-checked="false">
              <input id="tab-panel-1-radio-ann" class="switch-block__radio js-active" type="radio" name="month-ann" value="ann" title="Check Monthly or Annually Price" role="radio" aria-checked="true" checked>
              <label class="switch-block__label" for="tab-panel-1-radio-month">Monthly</label>
              <div class="switch-block__toggle js-checked"></div>
              <label class="switch-block__label" for="tab-panel-1-radio-ann">Annually <span class="switch-block__additional">(20% off)</span></label>
            </form>
          </div>
          <div class="pricing page-block__subblock">
            <div class="pricing-table">
              <table class="pricing-table__table">
                <thead>
                  <tr>
                    <th>
                      <div class="pricing-table__plan">Free</div>
                    </th>
                  </tr>
                  <tr>
                    <th>
                      <div class="pricing-table__price">Free</div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="pricing-table__features-block">
                        <ul class="pricing-table__features-list">
                          <li class="pricing-table__feature">1 GB Cloud Backup</li>
                          <li class="pricing-table__feature">1 GB Local Backupp</li>
                          <li class="pricing-table__feature">1 Device</li>
                          <li class="pricing-table__feature pricing-table__feature--disabled">
                              <span class="icon icon--img icon--img-xxs" aria-hidden="true" role="presentation">
                                <svg>
                                  <use xlink:href="#close"></use>
                                </svg>
                              </span> Limited Support</li>
                          <li class="pricing-table__feature pricing-table__feature--disabled">
                              <span class="icon icon--img icon--img-xxs" aria-hidden="true" role="presentation">
                                  <svg>
                                    <use xlink:href="#close"></use>
                                  </svg>
                                </span> No Files Cloud</li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="pricing-table__dropdown-block pricing-table__dropdown-block--hidden">
                        <form action="" class="pracing-table__dropdown-form">
                          <select name="" id="">
                            <option value="">Empty Option</option>
                          </select>
                        </form>
                      </div>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td>
                      <div class="btn-block"><a href="#" class="btn-block__btn btn btn--light-color btn--alt-hover" title="Order" data-btn-content="Order">Order</a></div>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>

            <div class="pricing-table">
              <table class="pricing-table__table">
                <thead>
                  <tr>
                    <th>
                      <div class="pricing-table__plan">Basic</div>
                    </th>
                  </tr>
                  <tr>
                    <th>
                      <div class="pricing-table__price">
                          R<span class="pricing-table__price-number">79</span> <span class="pricing-table__price-time">/ month</span>
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="pricing-table__features-block">
                        <ul class="pricing-table__features-list">
                          <li class="pricing-table__feature">50 GB Cloud Backup</li>
                          <li class="pricing-table__feature">50 GB Local Backupp</li>
                          <li class="pricing-table__feature">5 Device</li>
                          <li class="pricing-table__feature">24/7 Support</li>
                          <li class="pricing-table__feature">1 GB Files Cloud</li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="pricing-table__dropdown-block">
                        <form action="" class="pracing-table__dropdown-form">
                          <select name="" id="">
                            <option value="">5 GB</option>
                            <option value="">10 GB</option>
                            <option value="">50 GB</option>
                          </select>
                        </form>
                      </div>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td>
                      <div class="btn-block"><a href="#" class="btn-block__btn btn btn--light-color btn--alt-hover" title="Order" data-btn-content="Order">Order</a></div>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>

            <div class="pricing-table pricing-table--popular">
                <div class="pricing-table__plan-popular">
                  <div class="pricing-table__plan-popular-icon">
                    <span class="icon icon--img icon--img-xxs" aria-hidden="true" role="presentation">
                      <svg>
                        <use xlink:href="#star"></use>
                      </svg>
                    </span>
                  </div>
                  <div class="pricing-table__plan-popular-text">Most Popular</div>
                </div>
              <table class="pricing-table__table">
                <thead>
                  <tr>
                    <th>
                      <div class="pricing-table__plan">Premium</div>
                    </th>
                  </tr>
                  <tr>
                    <th>
                      <div class="pricing-table__price">
                          R<span class="pricing-table__price-number">199</span> <span class="pricing-table__price-time">/ month</span>
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="pricing-table__features-block">
                        <ul class="pricing-table__features-list">
                          <li class="pricing-table__feature">250 GB Cloud Backup</li>
                          <li class="pricing-table__feature">500 GB Local Backupp</li>
                          <li class="pricing-table__feature">10 Device</li>
                          <li class="pricing-table__feature">24/7 Support</li>
                          <li class="pricing-table__feature">10 GB Files Cloud</li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="pricing-table__dropdown-block">
                        <form action="" class="pracing-table__dropdown-form">
                          <select name="" id="">
                            <option value="">50 GB</option>
                            <option value="">100 GB</option>
                            <option value="">500 GB</option>
                          </select>
                        </form>
                      </div>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td>
                      <div class="btn-block"><a href="#" class="btn-block__btn btn btn--accent-color btn--alt-hover" title="Order" data-btn-content="Order">Order</a></div>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>

            <div class="pricing-table">
              <table class="pricing-table__table">
                <thead>
                  <tr>
                    <th>
                      <div class="pricing-table__plan">Unlimited</div>
                    </th>
                  </tr>
                  <tr>
                    <th>
                      <div class="pricing-table__price">
                          R<span class="pricing-table__price-number">1999</span> <span class="pricing-table__price-time">/ month</span>
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="pricing-table__features-block">
                        <ul class="pricing-table__features-list">
                          <li class="pricing-table__feature">1 TB Cloud Backup</li>
                          <li class="pricing-table__feature"><strong>Unlimited</strong> Local Backupp</li>
                          <li class="pricing-table__feature"><strong>Unlimited</strong> Device</li>
                          <li class="pricing-table__feature">24/7 Support</li>
                          <li class="pricing-table__feature">100 GB Files Cloud</li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="pricing-table__dropdown-block">
                        <form action="" class="pracing-table__dropdown-form">
                          <select name="" id="">
                            <option value="">500 GB</option>
                            <option value="">1 TB</option>
                            <option value="">5 TB</option>
                          </select>
                        </form>
                      </div>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td>
                      <div class="btn-block"><a href="#" class="btn-block__btn btn btn--light-color btn--alt-hover" title="Order" data-btn-content="Order">Order</a></div>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>

        <div class="tabs__panel">Tab Panel 2</div>

        <div class="tabs__panel">Tab Panel 3</div>

        <div class="tabs__panel">Tab Panel 4</div>
      </div>
    </div>
  </div>
</section>