<section class="page-block page-block--accent-bg-light page-block--extra-padding-top">
  <div class="container">
    <div class="page-block__header header-block">
      <h2 class="header-block__header">Transparent &amp; flexible pricing</h2>
      <div class="header-block__subheader">
        Choose the plan that fits your needs, or contact us if you have questions.
      </div>
    </div>

    <div class="page-block__content">
      <div id="pricing-tabs" class="control-panel page-block__subblock" data-connected-type="tabs">
        <div class="control-panel__list">
          <div class="control-panel__item js-active" data-panel-category="cloud-backup">
            <a href="#" class="control-panel__link" title="Cloud Backup">
              <div class="control-panel__icon">
                <span class="icon icon--img icon--img-xs" aria-hidden="true" role="presentation">
                  <svg>
                    <use xlink:href="#wizard-tool"></use>
                  </svg>
                </span>
              </div>
              <div class="control-panel__text">
                <span>Cloud Backup</span>
              </div>
            </a>
          </div>
          <div class="control-panel__item" data-panel-category="files-cloud">
            <a href="#" class="control-panel__link" title="Files Cloud">
              <div class="control-panel__icon">
                <span class="icon icon--img icon--img-xs" aria-hidden="true" role="presentation">
                  <svg>
                    <use xlink:href="#app-window"></use>
                  </svg>
                </span>
              </div>
              <div class="control-panel__text">
                <span>Files Cloud</span>
              </div>
            </a>
          </div>
          <div class="control-panel__item" data-panel-category="disaster-recovery">
            <a href="#" class="control-panel__link" title="Disaster Recovery">
              <div class="control-panel__icon">
                <span class="icon icon--img icon--img-xs" aria-hidden="true" role="presentation">
                  <svg>
                    <use xlink:href="#recovery"></use>
                  </svg>
                </span>
              </div>
              <div class="control-panel__text">
                <span>Disaster Recovery</span>
              </div>
            </a>
          </div>
          <div class="control-panel__item" data-panel-category="antivirus">
            <a href="#" class="control-panel__link" title="Antivirus">
              <div class="control-panel__icon">
                <span class="icon icon--img icon--img-xs" aria-hidden="true" role="presentation">
                  <svg>
                    <use xlink:href="#recovery"></use>
                  </svg>
                </span>
              </div>
              <div class="control-panel__text">
                <span>Antivirus</span>
              </div>
            </a>
          </div>
        </div>
      </div>
      
      <div class="tabs page-block__subblock" data-panel="pricing-tabs">
        <div class="tabs__panel js-active">
          <div class="switch-block page-block__subblock">
            <form class="switch-block__form">
              <input id="tab-panel-1-radio-month" class="switch-block__radio switch-radio" type="radio" name="month-ann" value="month" title="Check Monthly or Annually Price" role="radio" aria-checked="false">
              <input id="tab-panel-1-radio-ann" class="switch-block__radio js-active" type="radio" name="month-ann" value="ann" title="Check Monthly or Annually Price" role="radio" aria-checked="true" checked>
              <label class="switch-block__label" for="tab-panel-1-radio-month">Monthly</label>
              <div class="switch-block__toggle js-checked"></div>
              <label class="switch-block__label" for="tab-panel-1-radio-ann">Annually <span class="switch-block__additional">(20% off)</span></label>
            </form>
          </div>
          
        </div>

        <div class="tabs__panel">Tab Panel 2</div>

        <div class="tabs__panel">Tab Panel 3</div>

        <div class="tabs__panel">Tab Panel 4</div>
      </div>
    </div>
  </div>
</section>