<div class="page-header">
  <div class="container">
    <div class="page-header__inner">
      <div class="page-header__wrapper page-header__wrapper--text-center">
        <div class="page-header__header">
          <h1 class="page-header__header-h">
            Start reselling in a few mouseclicks
          </h1>
        </div>
        <div class="page-header__content">
          <div class="page-header__text">
            <p>By reselling our service to your clients, you will own the entire sales cycle
              from Client Prospecting and Onboarding to Account Management and Billing. Our
              Partner Program enables you to resell a top-class Cloud Backup service without
              any additional financial commitment or initial layout.</p>
          </div>
        </div>
      </div>
      <div class="page-header__btn-part btn-block">
        <a class="page-header__btn btn-block__btn btn" href="#" title="Book Demo" data-btn-content="Book Demo">Book Demo</a>
        <a class="page-header__btn btn-block__btn btn btn--accent-color" href="#" title="Free Trial" data-btn-content="Free Trial">Free Trial</a>
      </div>
      <div class="page-header__image">
        <span class="icon icon--img icon--img-xl" aria-hidden="true" role="presentation">
            <img src="../images/img/online-store.svg" alt="Start reselling in a few mouseclicks">
        </span>
      </div>
    </div>
  </div>
</div>