<section class="page-block">
  <div class="container">
    <div class="block-with-image block-with-image--justified-start">
      <div class="block-with-image__image">
        <span class="icon icon--img icon--img-llg icon--img-rounded" aria-hidden="true" role="presentation">
          <img src="../images/img/graph.svg" alt="Join the fastest growing market on the globe">
        </span>
      </div>
      <div class="block-with-image__content-block">
        <div class="block-with-image__content block-with-image__content--sm block-with-image__content--weight-medium block-with-image__content--align-left page-block__content">
          <div class="block-with-image__header block-with-image__header--sm page-block__header header-block">
            <h2 class="header-block__header">Join the fastest growing market on the globe</h2>
          </div>
          <div class="block-with-image__text page-block__content">
            <div class="page-block__text">
              <p>
                User errors, hardware or software failure, security breaches, lost or stolen
                devices, data leakage: organizations are becoming increasingly aware that
                their data needs to be protected at any time. Don’t miss out: get your share
                of this growing market!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>