<section class="page-block page-block--half-padding page-block--accent-bg-light">
  <div class="container">
    <div class="block-with-image block-with-image--justified-start">
      <div class="block-with-image__image">
        <span class="icon icon--img icon--img-xl" aria-hidden="true" role="presentation">
          <img src="../images/img/screens.png" alt="white-labelled">
        </span>
      </div>
      <div class="block-with-image__content-block">
        <div class="block-with-image__content block-with-image__content--sm block-with-image__content--align-left page-block__content">
          <div class="block-with-image__header block-with-image__header--sm page-block__header header-block">
            <h2 class="header-block__header">White-label your client portal</h2>
          </div>
          <div class="block-with-image__text page-block__content">
            <div class="page-block__text page-block__subblock">
              <p>Building your brand is important, which is why your Backup Management Portal
                  is fully white-labelled, allowing you to make your portal 100% your own.</p>
            </div>

            <div class="info-col page-block__subblock">
              <div class="info-col__block info-col__block--sm">
                <div class="info-col__header-block info-col__header-block--with-icon">
                  <div class="info-col__icon js-loading-effect">
                    <span class="icon icon--img icon--img-xs icon--img-color-2">
                      <svg>
                        <use xlink:href="#edit"></use>
                      </svg>
                    </span>
                  </div>
                  <div class="info-col__header info-col__header--sm">Custom domain name</div>
                </div>
              </div>
              <div class="info-col__block info-col__block--sm">
                <div class="info-col__header-block info-col__header-block--with-icon">
                  <div class="info-col__icon js-loading-effect">
                    <span class="icon icon--img icon--img-xs icon--img-color-2">
                      <svg>
                        <use xlink:href="#palatte"></use>
                      </svg>
                    </span>
                  </div>
                  <div class="info-col__header info-col__header--sm">Custom color pallettes</div>
                </div>
              </div>
              <div class="info-col__block info-col__block--sm">
                <div class="info-col__header-block info-col__header-block--with-icon">
                  <div class="info-col__icon js-loading-effect">
                    <span class="icon icon--img icon--img-xs icon--img-color-2">
                      <svg>
                        <use xlink:href="#comp-logo"></use>
                      </svg>
                    </span>
                  </div>
                  <div class="info-col__header info-col__header--sm">Company logo</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>