<section class="page-block">
  <div class="container">
    <div class="page-block__header header-block header-block--align-left">
      <h2 class="header-block__header header-block__header--decorated header-block__header--decorated-lg">Fully
        integrated with
        your automization</h2>
      <div class="header-block__text header-block__text--full-width">
        <div class="header-block__text-wrap">
          <p>Are you a cloud hosting or services provider who uses one of these automation tools in
            your everyday business? Use plugins to automate billing, customer provisioning, and
            endpoint backup management.</p>
        </div>
        <div class="header-block__text-img">
          <span class="icon icon--img icon--whms" aria-hidden="true" role="presentation">
            <img src="../images/img/whms.svg" alt="whms">
          </span>
        </div>
      </div>
    </div>

    <div class="page-block__content">
      <div class="cards-block">
        <div class="cards-block__card cards-block__card--full cards-block__card--full-on-mob cards-block__card--accent-light cards-block__card--space-between cards-block__card--full-sm-padding-horz cards-block__card--with-hover cards-block__card--with-hover-style-1">

          <div class="cards-block__card-item--support">
            <div class="cards-block__card-item--support-text">
                Also Supported
            </div>
          </div>
          
          <div class="cards-block__card-item">
            <a href="#">
              <span class="icon icon--img icon--img-max-h-30" aria-hidden="true" role="presentation">
                <img src="../images/img/kasaya.svg" alt="kasaya">
              </span>
            </a>
          </div>
          <div class="cards-block__card-item">
            <a href="#">
              <span class="icon icon--img icon--img-max-h-30" aria-hidden="true" role="presentation">
                <img src="../images/img/odin.svg" alt="odin">
              </span>
            </a>
          </div>
          <div class="cards-block__card-item">
            <a href="#">
              <span class="icon icon--img icon--img-max-h-30" aria-hidden="true" role="presentation">
                <img src="../images/img/host-bill.png" alt="host bill">
              </span>
            </a>
          </div>
          <div class="cards-block__card-item">
            <a href="#">
              <span class="icon icon--img icon--img-max-h-30" aria-hidden="true" role="presentation">
                <img src="../images/img/automate-wise.png" alt="automate wise">
              </span>
            </a>
          </div>
          <div class="cards-block__card-item">
            <a href="#">
              <span class="icon icon--img icon--img-max-h-30" aria-hidden="true" role="presentation">
                <img src="../images/img/autotask.gif" alt="autodisk">
              </span>
            </a>
          </div>
          <div class="cards-block__card-item">
            <a href="#">
              <span class="icon icon--img icon--img-max-h-30" aria-hidden="true" role="presentation">
                <img src="../images/img/connect-wize.png" alt="connect-wize">
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>