<section class="page-block page-block--accent-bg-dark">
  <div class="container">
    <div class="page-block__header header-block header-block--space-between">
      <h2 class="header-block__header header-block__header--decorated header-block__header--decorated-lg">
        We’ll help you sell to your customers
      </h2>
    </div>

    <div class="page-block__content">
      <div class="info-col page-block__subblock">
        <div class="info-col__block info-col__block--sm">
          <div class="info-col__header info-col__header--with-icon">
            <div class="info-col__icon js-loading-effect">
              <span class="icon icon--img icon--img-sm icon--img-color-1" aria-hidden="true" role="presentation">
                <svg>
                  <use xlink:href="#task"></use>
                </svg>
              </span>
            </div>
            <div class="info-col__header">Fully Featured</div>
          </div>
          <div class="info-col__content info-col__content--offset-sm">
            <div class="info-col__text semitransparent semitransparent--solid">
              <p>As a reseller, you get access to the fully featured service, including access
                to our courier service for physical shipment and personal customer support.</p>
            </div>
          </div>
        </div>
        <div class="info-col__block info-col__block--sm">
          <div class="info-col__header info-col__header--with-icon">
            <div class="info-col__icon js-loading-effect">
              <span class="icon icon--img icon--img-sm icon--img-color-1" aria-hidden="true" role="presentation">
                <svg>
                  <use xlink:href="#brush"></use>
                </svg>
              </span>
            </div>
            <div class="info-col__header">Brandable Marketing</div>
          </div>
          <div class="info-col__content info-col__content--offset-sm">
            <div class="info-col__text semitransparent semitransparent--solid">
              <p>Staying up to date with the latest rules and regulations to ensure the
                privacy of you and your customers and make sure your business is compliant.</p>
            </div>
          </div>
        </div>
        <div class="info-col__block info-col__block--sm">
          <div class="info-col__header info-col__header--with-icon">
            <div class="info-col__icon js-loading-effect">
              <span class="icon icon--img icon--img-sm icon--img-color-1" aria-hidden="true" role="presentation">
                <svg>
                  <use xlink:href="#cog"></use>
                </svg>
              </span>
            </div>
            <div class="info-col__header">Free WHMCS integration</div>
          </div>
          <div class="info-col__content info-col__content--offset-sm">
            <div class="info-col__text semitransparent semitransparent--solid">
              <p>Use our premium courier service to ship your data physically or have a
                recovery drive delivered to your doorstep in case of data disaster.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>