<section class="page-block">
  <div class="container">
    <div class="page-block__header header-block header-block--align-left">
      <h2 class="header-block__header header-block__header--decorated header-block__header--decorated-lg">Fully
        integrated with
        your automization</h2>
      <div class="header-block__text header-block__text--full-width">
        <div class="header-block__text-wrap">
          <p>Are you a cloud hosting or services provider who uses one of these automation tools in
            your everyday business? Use plugins to automate billing, customer provisioning, and
            endpoint backup management.</p>
        </div>
        <div class="header-block__text-img">
          <span class="icon icon--img icon--whms" aria-hidden="true" role="presentation">
            <img src="../images/img/whms.svg" alt="whms">
          </span>
        </div>
      </div>
    </div>
  </div>
</section>