<section class="page-block page-block--half-padding-top page-block--accent-bg-dark page-block--accent-bg-dark-alt-bg-sec">
  <div class="container">
    <div class="page-block__content">
      <div class="info-col page-block__subblock">
        <div class="info-col__block info-col__block--xs info-col__block--align-center">
          <div class="info-col__icon info-col__icon--animated-top js-loading-effect">
            <span class="icon icon--img icon--img-md icon--img-color-1">
              <svg>
                <use xlink:href="#people"></use>
              </svg>
            </span>
          </div>
          <div class="info-col__header">
            <div class="info-col__header-h">Unlimited Users & Devices</div>
          </div>
          <div class="info-col__content info-col__content--offset-md">
            <div class="info-col__text info-col__text-lineheight-l info-col__text--color-prim">
              <p>Only pay for the storage used. Build your own packages and bill your
                customers directly through our billing system.</p>
            </div>
          </div>
        </div>

        <div class="info-col__block info-col__block--xs info-col__block--align-center">
          <div class="info-col__icon info-col__icon--animated-top js-loading-effect">
            <span class="icon icon--img icon--img-md icon--img-color-1">
              <svg>
                <use xlink:href="#human"></use>
              </svg>
            </span>
          </div>
          <div class="info-col__header">
            <div class="info-col__header-h">Premium Support</div>
          </div>
          <div class="info-col__content info-col__content--offset-md">
            <div class="info-col__text info-col__text-lineheight-l info-col__text--color-prim">
              <p>Partners get exclusive access to premium support, benefits and perks to
                accelerate sales and drive growth.</p>
            </div>
          </div>
        </div>

        <div class="info-col__block info-col__block--xs info-col__block--align-center">
          <div class="info-col__icon info-col__icon--animated-top js-loading-effect">
            <span class="icon icon--img icon--img-md icon--img-color-1">
              <svg>
                <use xlink:href="#discount"></use>
              </svg>
            </span>
          </div>
          <div class="info-col__header">
            <div class="info-col__header-h">Scaleable Discount</div>
          </div>
          <div class="info-col__content info-col__content--offset-md">
            <div class="info-col__text info-col__text-lineheight-l info-col__text--color-prim info-col__text--strong-light">
              <p>Get higher discounts as your customer base grows. <strong>Up to 50% discount</strong> from our
                listed pricing structure.</p>
            </div>
          </div>
        </div>

        <div class="info-col__block info-col__block--md info-col__block--margin-lg info-col__block--space-between">
          <div class="info-col__icon info-col__icon--animated-top js-loading-effect">
            <span class="icon icon--img icon--img-lg">
                <svg>
                    <use xlink:href="#devices"></use>
                  </svg>
            </span>
          </div>
          <div class="info-col__content">
            <div class="info-col__header">
              <div class="info-col__header-h">All devices</div>
            </div>
            <div class="info-col__text info-col__text-lineheight-l">
              <p>Microsoft Windows PC and Mac, laptops and desktops, Office 365 mailboxes, iOS and Android devices.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>