<section class="page-block page-block--accent-bg-dark">
  <div class="container">
    <div class="block-with-image block-with-image--img-right">
      <div class="block-with-image__image js-loading-effect">
        <span class="icon icon--img icon--img-xl">
          <img src="../images/img/globe.svg" alt="store">
        </span>
      </div>
      <div class="block-with-image__content-block js-loading-effect">
        <div class="block-with-image__header  page-block__header header-block">
          <h2 class="header-block__header">Solutions for Everyone</h2>
        </div>
        <div class="block-with-image__content page-block__content">
          <div class="page-block__text">
            <p>Protect every component of your IT infrastructure – physical and virtual, Windows® and Linux® servers, Windows, Mac®, and Linux desktop and laptop PCs, iPhone, iPad, and Android mobile devices, and Office 365 mailboxes.
            </p>
          </div>
          <div class="btn-block page-block__subblock">
            <a class="btn-block__btn btn" href="#" title="All Plugins" data-btn-content="All Plugins">All Plugins</a>
            <a class="btn-block__btn btn btn--accent-color" href="#" title="Try For Free" data-btn-content="Try For Free">Try For Free</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>