<section class="page-block">
  <div class="container">
    <div class="page-block__header header-block">
      <h2 class="header-block__header">Meet our team</h2>
      <div class="header-block__subheader">
          BackUp is run by a team of dedicated professionals,         committed to providing you the best solutions possible.
      </div>
    </div>
    <div class="page-block__content">
      <div class="team">
        <div class="team__member">
          <figure class="team__member-inner">
            <div class="team__member-img">
                <img src="../images/img/team/team-1.jpg" alt="David, Founder photo" width="266" height="287">
            </div>
            <figcaption class="team__member-info">
              <div class="team__member-name">David</div>
              <div class="team__member-job">Founder</div>
            </figcaption>
          </figure>
        </div>
        <div class="team__member">
          <figure class="team__member-inner">
            <div class="team__member-img">
              <img src="../images/img/team/team-2.jpg" alt="Mark, Support Manager photo" width="258" height="284">
            </div>
            <figcaption class="team__member-info">
              <div class="team__member-name">Mark</div>
              <div class="team__member-job">Support Manager</div>
            </figcaption>
          </figure>
        </div>
        <div class="team__member">
          <figure class="team__member-inner">
            <div class="team__member-img">
              <img src="../images/img/team/team-3.jpg" alt="Michelle, Account Manager photo" width="550" height="731">
            </div>
            <figcaption class="team__member-info">
              <div class="team__member-name">Michelle</div>
              <div class="team__member-job">Account Manager</div>
            </figcaption>
          </figure>
        </div>
        <div class="team__member">
          <figure class="team__member-inner">
            <div class="team__member-img">
              <img src="../images/img/team/team-4.jpg" alt="Robin, Technical Advisor photo" width="270" height="292">
            </div>
            <figcaption class="team__member-info">
              <div class="team__member-name">Robin</div>
              <div class="team__member-job">Technical Advisor</div>
            </figcaption>
          </figure>
        </div>
        <div class="team__member">
          <figure class="team__member-inner">
            <div class="team__member-img">
              <img src="../images/img/team/team-5.jpg" alt="Joel, Visual Designer" width="316" height="329">
            </div>
            <figcaption class="team__member-info">
              <div class="team__member-name">Joel</div>
              <div class="team__member-job">Visual Designer</div>
            </figcaption>
          </figure>
        </div>
        <div class="team__member">
          <figure class="team__member-inner">
            <div class="team__member-img">
              <img src="../images/img/team/team-6.jpg" alt="Saber, Mascotte" width="291" height="269">
            </div>
            <figcaption class="team__member-info">
              <div class="team__member-name">Helen</div>
              <div class="team__member-job">UX Designer</div>
            </figcaption>
          </figure>
        </div>
        <div class="team__member">
          <figure class="team__member-inner">
            <div class="team__member-img">
              <img src="../images/img/team/team-7.jpg" alt="Zira, Vice-Mascotte" width="264" height="264">
            </div>
            <figcaption class="team__member-info">
              <div class="team__member-name">Mark</div>
              <div class="team__member-job">PR</div>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>