<section class="page-block page-block--accent-bg-light">
  <div class="container">
    <div class="page-block__header header-block">
      <h2 class="header-block__header">Why Choose Us</h2>
      <div class="header-block__subheader">We strive to offer you the best of the best, no compromises.</div>
    </div>
    <div class="page-block__content">
      <div class="info-col page-block__subblock">
        <div class="info-col__block info-col__block--sm">
          <div class="info-col__header info-col__header--with-icon">
            <div class="info-col__icon">
              <span class="icon icon--img icon--img-sm">
                <img src="../images/padlock.svg" alt="choose">
              </span>
            </div>
            <div class="info-col__header-h">Enhanced security</div>
          </div>
          <div class="info-col__content">
            <div class="info-col__text">
              Your data is always encrypted before it leaves your device, sent over secure SSL connections and stored in our safe data center in Space.
            </div>
          </div>
        </div>
        <div class="info-col__block info-col__block--sm">
          <div class="info-col__header info-col__header--with-icon">
            <div class="info-col__icon">
              <span class="icon icon--img icon--img-sm">
                <img src="../images/shield.svg" alt="Choose">
              </span>
            </div>
            <div class="info-col__header-h">Compliancy</div>
          </div>
          <div class="info-col__content">
            <div class="info-col__text">
              Staying up to date with the latest rules and regulations to ensure the privacy of you and your customers and make sure your business is compliant.
            </div>
          </div>
        </div>
        <div class="info-col__block info-col__block--sm">
          <div class="info-col__header info-col__header--with-icon">
            <div class="info-col__icon">
              <span class="icon icon--img icon--img-sm">
                <img src="../images/truck.svg" alt="choose">
              </span>
            </div>
            <div class="info-col__header-h">Physical Data</div>
          </div>
          <div class="info-col__content">
            <div class="info-col__text">
              Use our premium courier service to ship your data physically or have a recovery drive delivered to your doorstep in case of data disaster.
            </div>
          </div>
        </div>
      </div>
      <div class="cards-block page-block__subblock">
        <div class="cards-block__card cards-block__card--full cards-block__card--space-between cards-block__card--with-hover cards-block__card--with-hover-style-1">
          <div class="cards-block__card-icon">
            <span class="icon icon--img icon--acronis" aria-hidden="true">
              <img src="../images/acronis.svg" alt="card">
            </span>
          </div>
          <div class="cards-block__card-content cards-block__card-content--m-top-mobile">
            <div class="cards-block__card-text cards-block__card-text--xl">
              <p>Powered by the Acronis AnyData Engine, BackupService backs up disks, partitions, and files to our storage in a secure data center so you can quickly recover selected files, folders, applications, or an entire system.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-block page-block__subblock">
        <a class="btn-block__btn btn btn--light-color" href="#" title="All Features" data-btn-content="All Features">All Features</a>
        <a class="btn-block__btn btn btn--accent-color" href="#" title="Pricing" data-btn-content="Pricing">Pricing</a>
      </div>
    </div>
  </div>
</section>